<div class="resume__section">
    <div class="container">
        <div class="vertical__hook__container">
            <div></div>
            <div></div>
        </div>
        <div class="line__horizontal"></div>
        <div class="line__vertical"></div>
        <div class="line__point"></div>
        <div class="text">
            <!--<h2>Some boring info</h2>-->
            <!--<a href="/downloads/curriculum-diego-mantegazza-web-design.pdf" target="_blank">Get My Resume</a>-->
            <a href="/projects/">See my projects</a>
        </div>
        <div class="hide-mobile line__point"></div>
        <div class="hide-mobile line__vertical"></div>
        <div class="hide-mobile line__horizontal"></div>
        <div class="hide-mobile vertical__hook__container">
            <div></div>
            <div></div>
        </div>
    </div>
</div>