main{
    margin: 6rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 $padding-normal;
    text-transform: uppercase;
    h1{
        font-size: $text-title-md;
        font-family: 'OffBit', sans-serif;
    }
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.5rem;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    max-width: 1920px;
    width: 100%;
    .item{
        @include tech-card;
        .border{
            transition: background 200ms ease;
        }
        .body{
            display: flex;
            justify-content: space-between;
            height: 100%;
            padding: 2rem 1.5rem;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            transition: border 200ms ease;
            span{
                font-size: $text-paragraph-md;
                font-family: 'OffBit', sans-serif;
                font-weight: bold;
                margin-top: .3rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                img{
                    width: 24px;
                    height: 24px;
                    margin-bottom: .25rem;
                    filter: grayscale(1)
                }
            }
            div{
                @include center;
                height: 25px;
                width: 25px;
                span{
                    transition: color 200ms ease;
                    transition: transform 200ms ease;
                }
            }
        }
        @include hover{
            &:hover{
                .border{
                    background-color: $color-style-1;
                }
                .body{
                    border-color: $color-style-1;
                    div{
                        span{
                            color: $color-style-1;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}

.other-projects-container{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    h3{
        font-size: $text-paragraph-lg;
        font-family: 'OffBit', sans-serif;
        span{
            background-color: $color-style-1;
        }
    }
    .other-projects-item{
        padding: .5rem .8rem;
        border-radius: 4px;
        border: 2px solid $color-style-2;
        background-color: transparent;
        transition: background-color 200ms ease;
        display: flex;
        align-items: center;
        gap: .5rem;
        @include hover{
            &:hover{
                background-color: $color-style-2;
                .selection__light{
                    background-color: $color-style-1;
                }
                .project__type{
                    background-color: $color-background;
                }
            }
        }
        .project__name{
            font-size: $text-paragraph-xs;
        }
        .project__type{
            font-size: .75rem;
            background-color: $color-style-2;
            border-radius: 4px;
            padding: .1rem .25rem .05rem;
            transition: background-color 200ms ease;
        }
        .selection__light{
            height: 8px;
            width: 8px;
            background-color: $color-style-2;
            border-radius: 50%;
            transition: background-color 200ms ease;
        }
    }
}

@media screen and (max-width: $breakpoint-laptop){
    main{
        margin: 4rem 0;
    }
    .projects-container{
        h1{
            font-size: $text-title-sm;
        }
    }
    .projects-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: $breakpoint-tablet-lg){
    .projects-grid{
        grid-template-columns: 1fr;
        row-gap: 1rem;
        span{
            font-size: $text-paragraph-sm;
        }
        .projects-item{
            padding: 1.5rem 2rem;
        }
    }
    .other-projects-container{
        gap: 1rem;
        .other-projects-item{
            .selection__light{
                display: none;
            }
        }
    }
    main{
        margin: 2rem 0;
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    .projects-grid{
        row-gap: 1rem;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .projects-container{
        h1{
            font-size: $text-title-xs;
        }
        .projects-grid{
            row-gap: .5rem;
            .item{
                .body{
                    border-radius: 4px;
                }
            }
        }
    }
    .other-projects-container{
        gap: .5rem;
    }
}