.showcase{
    width: 100%;
    max-width: 1920px;
    padding: 6rem 0 6rem;
    overflow: hidden;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
        .item{
            height: 95vh;
            max-height: 1080px;
            min-height: 400px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: hidden;
            background-color: $color-background;
            .bg{
                position: absolute;
                height: 140%;
                width: 100%;
                background-size: cover;
                background-position: center;
                transition: transform 200ms ease;
                z-index: 1;
                opacity: .75;
                filter: grayscale(.5);
                translate: (0%, 0%);
            }
            .info__container{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;
                a{
                    height: 100%;
                    width: 100%;
                }
            }
            .noise__texture{
                z-index: 4;
                pointer-events: none;
                position: absolute;
                height: 100%;
                width: 100%;
                mix-blend-mode: overlay;
                opacity: .5;
                background-image: url(/assets/img/projects/noise__texture.webp);
            }
        }
        .item__1{
            .bg{
                background-image: url(/assets/img/projects/showcase-1.webp);
            }
            z-index: 1;
        }
        .item__2{
            .bg{
                background-image: url(/assets/img/projects/showcase-2.webp);
            }
            z-index: 2;
        }
        .item__3{
            .bg{
                background-image: url(/assets/img/projects/showcase-3.webp);
            }
            z-index: 3;
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .showcase{
        padding: 4.5rem 0;
        .container{
            gap: 1rem;
            .item{
                height: 400px;
                min-height: auto;
                transform: rotate(-2deg);
                width: 110%;
                .bg{
                    height: 100%;
                    background-position: center;
                }
                .noise__texture{
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .showcase{
        padding: 3rem 0 4.5rem;
        .container{
            gap: .5rem;
            .item{
                height: 200px;
            }
        }
    }
}