<footer>
    <div class="footer-divisor"></div>
    <div class="footer-item">
        <span>Say hi :)</span>
        <div>
            <a href="{{ linkList.Github }}">Github</a>
            <a href="{{ linkList.LinkedIn }}">LinkedIn</a>
            <a href="{{ linkList.Mail }}">Mail</a>
            <a href="{{ linkList.Telegram }}">Telegram</a>
        </div>
    </div>
    <div class="footer-divisor"></div>
    <div class="footer-item">
        <span>Useful links</span>
        <div>
            <a href="#top">Back to top &#x2191;</a>
            <a href="{{ linkList.BuiltWith }}" target="_blank">Built with &#x2728;</a>
            <a href="/sitemap.xml">Sitemap &#x2708;</a>
            <a href="/privacy/">Privacy policy &#x2602;</a>
        </div>
    </div>
    <div class="footer-divisor"></div>
    <div class="footer-item">
        <span>Website map</span>
        <div>
            <a href="/">Home</a>
            <a href="/projects/">Projects</a>
            <a href="/about-me/">About Me</a>
            <a href="/contacts/">Contacts</a>
        </div>
    </div>
    <div class="footer-divisor-bottom"></div>
</footer>
<div class="footer-graphics">
    <span>&#169; {{ pageInfo.year }} &#xd7; Personal Portfolio</span>
    <span>Code and design by Diego Mantegazza &#x263c;</span>
</div>