<div class="loading-container">
    <div class="text-loading">
      <div></div>
      <span>&#9658; Connection Established </span>
      <span>&#9658; Personal Profile Loaded</span>
      <span>&#9658; Data Flow Secured </span>
      <span>&#9658; Assets Retrieved</span>
      <span class="last-span-loading">&#9658; Loading UI ...</span>
    </div>
    <div class="blink-loading">
      <div class="blink-container">
        <div id="loadingBlink"></div>
      </div>
    </div>
  </div>