footer{
   width: 100%;
    padding: 0 $padding-normal;
    max-width: 1920px;
    margin-top: $section-margin;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    font-family: 'OffBit', sans-serif;
    font-weight: bold;
}

.footer-divisor{
    width: 100%;
    height: 1px;
    background-color: $color-style-2;
}

.footer-divisor-bottom{
    width: 100%;
    height: 1px;
    background-color: $color-style-2;
    display: none;
}

.footer-item{
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    span{
        text-transform: uppercase;
    }
    div{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        gap: 1rem;
        a{
            color: $color-text-2;
            display: flex;
            align-items: center;
            gap: .5rem;
            text-transform: uppercase;
            svg{
                path{
                    fill: $color-text-2;
                }
            }
            @include hover{
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.footer-graphics{
    background-image: url(/assets/img/footer-background.png);
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 416px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $padding-normal;
    padding-left: #{2*$padding-normal};
    margin-top: -80px;
    z-index: -1;
    max-width: 1920px;
    font-weight: bold;
    span{
        max-width: 170px;
        color: $color-text-2;
        text-align: center;
        font-family: 'OffBit', sans-serif;
        text-transform: uppercase;
    }
}

@media screen and (max-width: $breakpoint-laptop){
    $section-margin: 6rem;
    footer{
        @include section-pad;
        margin-top: $section-margin;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg){
    $section-margin: 5rem;
    footer{
        @include section-pad;
        margin-top: $section-margin;
    }
    .footer-divisor-bottom{
        display: inline;
    }
}

@media screen and (max-width: $breakpoint-tablet-sm){
    $section-margin: 4rem;
    footer{
        @include section-pad;
        margin-top: $section-margin;
    }
    .footer-item{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        div{
            align-items: center;
            text-align: center;
            span{
                font-size: $text-paragraph-sm;
            }
            div{
                a{
                    font-size: $text-paragraph-sm;
                }
            }
        }
    }
    .footer-graphics{
        background-image: none;
        height: 200px;
        span{
            max-width: 200px;
            color: $color-text-2;
            text-align: center;
        }
    }
    
}

@media screen and (max-width: $breakpoint-mobile){
    $section-margin: 3rem;
    footer{
        @include section-pad;
        margin-top: $section-margin;
    }
    .footer-item{
        gap: 1.5rem;
    }
    .footer-graphics{
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 1.5rem;
        margin-top: 3rem;
        padding-top: 0;
        height: fit-content;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    footer,
    .header-desktop{
        padding-left: 0;
        padding-right: 0;
    }
    .footer-graphics{
        background-image: none;
        padding-left: unset;
        padding-right: unset;
        padding: 0 $padding-normal;
    }
}