header{
    width: 100%;
    max-width: 1920px;
    font-family: 'OffBit', sans-serif;
    background-color: transparent;
    z-index: 10;
}

.header-desktop{
    width: 100%;
    padding: 2.5rem $padding-normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
        div{
            width: 35px;
            height: 35px;
            background-color: $color-style-1;
            border-radius: 50%;
            transition: border-radius 200ms ease;
            @include hover{
                &:hover{
                    border-radius: 0;
                }
            }
        }
    }
    nav{
        display: flex;
        align-items: center;
        gap: 2rem;
        color: $color-text-1;
        .nav-link{
            padding: .75rem 1.25rem .5rem;
            font-weight: 700;
            font-size: $text-paragraph-xs;
            border-radius: 4px;
            transition: border 200ms ease;
            @include hover{
                &:hover{
                    border-color: $color-style-1
                }
            }
            background: rgba(8,8,8,.5);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
        }
        .nav-cta{
            @include cta($color-style-1, $color-style-1-hover, true, false);
            font-weight: bold;
            font-size: $text-paragraph-xs;
            padding-bottom: .5rem;
            transition: background 200ms ease;
        }
    }
}

.link-home,
.link-projects,
.link-about-me,
.link-resume{
    border: 1px solid transparent;
}

.header-mobile{
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    overflow-y: auto;
    pointer-events: fill;
    background-color: $color-header;
    cursor: url('/assets/img/cursor.svg'), auto;
    .full__container{
        width: 100%;
        max-height: 100svh;
        overflow-y: scroll;
        padding: 2.5rem $padding-normal 0;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .trigger-container{
        height: 45px;
        @include center;
        margin-bottom: .5rem;
        position: relative;
        .overlay{
            background-color: $color-style-1;
            height: 45px;
            width: 45px;
            position: absolute;
            border-radius: 4px;
            opacity: .25;
        }
    }
    .container{
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        gap: .5rem;
        .item{
            width: fit-content;
            z-index: 2;
            color: $color-style-1;
            a{
                font-size: $text-paragraph-md;
                text-transform: uppercase;
                font-size: 10vw;
                border-radius: 8px;
                font-weight: bold;
                text-align: center;
                cursor: url('/assets/img/cursor-pointer.svg') 6 2, auto;
            }
        }
    }
}

.header-mobile::-webkit-scrollbar {
    display: none;
  }

.mobile-trigger{
    width: 30px;
    height: 18px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    div{
        height: 2px;
        border-radius: 20px;
        background-color: $color-text-1;
    }
    :first-child,
    :last-child{
        width: 100%;
    }
    :nth-child(2){
        width: 80%;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .header-desktop{
        padding: 2rem $padding-normal;
        nav{
            .link-home,
            .link-about-me,
            .link-resume{
                display: none;
            }
        }
    }
    .header-mobile{
        .full__container{
            padding: 2rem $padding-normal 0;
        }
        .trigger-container{
            height: 38px;
        }
    }
    .mobile-trigger{
        display: flex;
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    .header-desktop{
        padding: 1.5rem $padding-normal;
        nav{
            .link-projects,
            .nav-cta{
                display: none;
            }
        }
    }
    .header-mobile{
        .full__container{
            padding: 1.5rem $padding-normal 0;
        }
        .trigger-container{
            height: 35px;
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .header-desktop{
        padding: 1rem $padding-normal;
        .logo{
            img{
                width: 36px;
                height: 25px;
            }
        }
    }
    .header-mobile{
        .full__container{
            padding: 1rem $padding-normal 0;
        }
        .container{
            margin-top: 3rem;
            .item{
                a{
                    font-size: 12vw;
                }
            }
        }
    }
}