@font-face {
    font-family: 'Manrope';
    src: url(/assets/fonts/Manrope/Manrope-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'OffBit';
    src: url(/assets/fonts/OffBit/OffBit-101Bold.otf);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'OffBit';
    src: url(/assets/fonts/OffBit/OffBit-101.otf);
    font-weight: 400;
    font-display: swap;
}

$text-paragraph-xl: 1.5rem; //24px
$text-paragraph-lg: 1.25rem; //20px
$text-paragraph-md: 1.125rem; //18px
$text-paragraph-sm: 1rem; //16px
$text-paragraph-xs: .875rem; //14px

$text-title-xxl: 9rem; //128px
$text-title-xl: 6rem; //96px
$text-title-lg: 4.5rem; //72px
$text-title-md: 3rem; //48px
$text-title-sm: 2.625rem; //42px
$text-title-xs: 2rem; //32px

$color-text-1: #FFFFFF;
$color-text-2: #bebebe;

$color-header: #006132;

$color-style-1: #00FF85;
$color-style-2: #121212;
$color-style-3: #434343;
$color-background: #080808;

$color-style-1-hover: #00be62;
$color-style-2-hover: #2B2B2B;
$color-style-3-hover: #545454;

$padding-normal: 5vw;
$section-margin: 8rem;

$breakpoint-desktop: 1921px;
$breakpoint-laptop: 1440px;
$breakpoint-tablet-lg: 1024px;
$breakpoint-tablet-sm: 769px;
$breakpoint-mobile: 496px;
$breakpoint-responsive: 320px;

$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;

// SASS MIXINS 

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin section-pad{
    width: 100%;
    padding: 0 $padding-normal;
    max-width: 1920px;
}

@mixin hover{
    @media (hover: hover) and (pointer: fine){
        @content
    }
}

@mixin full-absolute{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin tech-card($width: 15px, $height: 70px, $border: 1px){
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    .border{
        width: $width;
        min-width: $width;
        align-self: stretch;
        background-color: $color-style-2;
        position: relative;
        .style{
            position: absolute;
            height: $height;
            width: calc(#{$width} / 2);
            left: 0;
            top: calc(50% - calc(#{$height} / 2) - calc(#{$width} / 2));
            :nth-child(1){
                width: 0;
                height: 0;
                border-style: solid;
                border-width: calc(#{$width} / 2) 0 0 calc(#{$width} / 2);
                border-color: transparent transparent transparent $color-background;
            }
            :nth-child(2){
                width: 100%;
                height: 100%;
                background-color: $color-background;
            }
            :nth-child(3){
                width: 0;
                height: 0;
                border-style: solid;
                border-width: calc(#{$width} / 2) calc(#{$width} / 2) 0 0;
                border-color: $color-background transparent transparent transparent;
            }
        }
        .triangle{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $width 0 0 $width;
            border-color: transparent transparent transparent $color-background;
        }
    }
    .body{
        height: 100%;
        width: 100%;
        border: $border solid $color-style-2;
        background-color: $color-background;
    }
}

@mixin cta($color, $color-hover, $text: true, $scale: false){
    padding: .875rem 1.25rem .75rem;
    background-color: $color;
    border-radius: 4px;
    gap: .8rem;
    font-size: $text-paragraph-sm;
    width: fit-content;
    text-transform: uppercase;
    font-family: 'OffBit', sans-serif;
    display: flex;
    align-items: center;
    @include center;
    img{
        transition: transform 200ms ease;
    }
    @include hover{
        &:hover{
            background-color: $color-hover;
            @if $scale == true { transform: scale(1.05) };
        }
    }
    @if $text == true {
        color: $color-background;
        font-weight: $text-semibold;
    } @else {
        color: $color-text-1;
        font-weight: $text-medium;
    }
}

@mixin header-console($height, $button, $light: true){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    z-index: 2;
    @if $light == true { 
        background-color: $color-style-1; 
    } @else { background-color: $color-style-2; }
    span{
        font-size: .7rem;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .1rem;
        @if $light == true { 
            color: $color-background; 
        } @else { 
            color: white; 
            font-weight: normal;
        }
    }
    .buttons{
        display: flex;
        align-items: center;
        gap: .15rem;
        div{
            width: $button;
            height: $button;
            border-radius: 50%;
            @if $light == true { 
                background-color: $color-background; 
            } @else { background-color: white; }
        }
    }
}

// GENERAL CONFIG

*,::after,::before{
    box-sizing: border-box;
}

::-moz-selection{
    color: $color-background;
    background: $color-style-1;
}

::selection{
    color: $color-background;
    background: $color-style-1;
}

::-webkit-scrollbar{
    width: .7rem;
}
  
::-webkit-scrollbar-track{
    background: $color-style-2;
}
  
::-webkit-scrollbar-thumb{
    background: $color-style-3;
}
  
::-webkit-scrollbar-thumb:hover{
    background: $color-style-3-hover;
}
    
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Manrope', sans-serif;
    background-color: $color-background;
    overflow-x: hidden;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    cursor: none;
    //cursor: url('/assets/img/cursor.svg'), auto;
    p{
        overflow-wrap: break-word;
    }
    a{
        text-decoration: none;
        color: inherit;
        cursor: none;
        //cursor: url('/assets/img/cursor-pointer.svg') 6 2, auto;
    }
}

@media screen and (max-width: $breakpoint-responsive) {
    body{
        overflow-x: scroll;
    }
}

@import '_header';
@import '_footer';
html.lenis {
    height: auto;
}
  
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
  
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
  
.lenis.lenis-stopped {
    overflow: hidden;
}
  
.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.cursor{
    width: 12px;
    height: 12px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    //mix-blend-mode: difference;
    background-color: $color-style-1;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    svg{
        opacity: 0;
        z-index: 1;
    }
}

@media (hover: none) {
    .cursor{
        display: none;
    }
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes reverseRotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.rotation{
    animation: rotation 4s linear infinite;
}

.reverse-rotation{
    animation: reverseRotation 4s linear infinite;
}



