<footer>
    <div class="footer-divisor"></div>
    <div class="footer-item">
        <span>SAY HI :)</span>
        <div>
            <a class="cursor-scale small" href="https://github.com/maekee-dev">GITHUB</a>
            <a class="cursor-scale small" href="https://www.linkedin.com/in/diegomantegazza/">LINKEDIN</a>
            <a class="cursor-scale small" href="mailto:hello@diegomantegazza.me">MAIL</a>
            <a class="cursor-scale small" href="https://t.me/dmantee">TELEGRAM</a>
        </div>
    </div>
    <div class="footer-divisor"></div>
    <div class="footer-item">
        <span>USEFUL LINKS</span>
        <div>
            <a class="cursor-scale small" href="#top">BACK TO TOP <img src="/assets/img/top-arrow.svg" alt="Arrow icon" style="width: 15px; height: 21px;"></a>
            <a class="cursor-scale small" href="/legal-information/">COOKIE & PRIVACY POLICY</a>
        </div>
    </div>
    <div class="footer-divisor"></div>
    <div class="footer-item">
        <span>WEBSITE MAP</span>
        <div>
            <a class="cursor-scale small" href="/">HOME</a>
            <a class="cursor-scale small" href="/projects/">PROJECTS</a>
            <a class="cursor-scale small" href="/about-me/">ABOUT ME</a>
        </div>
    </div>
    <div class="footer-divisor-bottom"></div>
</footer>
<div class="footer-graphics">
    <span>© 2023 - PERSONAL PORTFOLIO</span>
    <span>CODE AND DESIGN BY DIEGO MANTEGAZZA</span>
</div>