<header>
    <div class="header-desktop">
        <a class="logo" href="/" onmouseenter="hoverLogoIn()" onmouseleave="hoverLogoOut()">
            <img class="cursor-scale small" src="/assets/img/logo.svg" alt="Website logo">
        </a>
        <nav>
            <a class="cursor-scale small nav-link link-home" href="/">HOME</a>
            <a class="cursor-scale small nav-link link-projects" href="/projects/">PROJECTS</a>
            <a class="cursor-scale small nav-link link-about-me" href="/about-me/">ABOUT ME</a>
            <a class="cursor-scale small nav-link link-resume" href="/downloads/curriculum-diego-mantegazza-web-design.pdf">RESUME</a>
            <a class="cursor-scale small nav-cta" href="mailto:hello@diegomantegazza.me">GET IN TOUCH</a>
            <div class="mobile-trigger" onclick="openMobileMenu()">
                <div id="mob-trig-1"></div>
                <div id="mob-trig-2"></div>
                <div id="mob-trig-3"></div>
            </div>
        </nav>
    </div>
    <div class="header-mobile" data-nospippet>
        <div class="trigger-container">
            <div class="mobile-trigger" onclick="closeMobileMenu()">
                <div id="mob-trig-1"></div>
                <div id="mob-trig-2"></div>
                <div id="mob-trig-3"></div>
            </div>
        </div>
        <a href="/" class="link-home">HOME</a>
        <a href="/projects/" class="link-projects">PROJECTS</a>
        <a href="/about-me/" class="link-about-me">ABOUT ME</a>
        <a href="/downloads/curriculum-diego-mantegazza-web-design.pdf">RESUME</a>
        <a href="mailto:hello@diegomantegazza.me" class="link">GET IN TOUCH <img src="/assets/img/button-arrow-dk.svg" alt=""></a>
    </div>
</header>