<section class="showcase">
    <div class="container">
        <div class="item item__1">
            <div class="noise__texture"></div>
            <div class="bg"></div>
            <div class="info__container">
                <a href="https://giovannibrambilla.com" target="_blank">
                    <div></div>
                </a>
            </div>
        </div>          
        <div class="item item__2 follow__up">               
            <div class="noise__texture"></div>
            <div class="bg"></div>
            <div class="info__container">
                <a href="https://valtrighebasketball.com" target="_blank">
                    <div></div>
                </a>
            </div>
        </div>
        <div class="item item__3 follow__up">
            <div class="noise__texture"></div>
            <div class="bg"></div>
            <div class="info__container">
                <a href="https://edilmantegazza.it" target="_blank">
                    <div></div>
                </a>
            </div>
        </div>
    </div>
</section>