@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
body{
  overflow-y: hidden;
}
.loading-container{
  width: 100vw;
  height: 100svh;
  margin: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #080808;
  cursor: auto;
}
.text-loading {
  font-family: monospace;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: calc(100% - 4rem);
  top: 2rem;
  left: 2rem;
}
.text-loading div{
  flex-grow: 1;
  background-color: #00FF85;
  margin-left: .2rem;
  margin-bottom: 1rem;
  width: 2px;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}
.blink-loading{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.blink-container{
  display: flex;
  align-items: center;
  gap: .4rem;
}
.blink-container div{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00FF85;
}
#loadingBlink{
  animation: blink-animation 1s steps(5, start) infinite;
}
@media screen and (max-width: 769px){
  .text-loading {
  height: calc(100% - 2rem);
  top: 1rem;
  left: 1rem;
  }
}