<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/error.css" rel="stylesheet">
    <title>Error &#10022; {{ title }}</title>
    {% include 'head.njk' %}
    <meta name="robots" content="noindex">
</head>
<body>
    <div class="video-container">
        <div class="text">
            <span class="head">&#10037;</span>
            <span class="par-text">{{ paragraph }}</span>
            <div class="link">
                <a href="/">Home</a>
                <a href="/contacts/">Contacts</a>
            </div>
        </div>
        <div class="info">
            <a href="{{ link }}" target="_blank">{{ movie }}</a>
        </div>
        <div class="overlay"></div>
        <div class="noise"></div>
        <video id="video" autoplay loop muted playsinline>
            <source src="/assets/img/404/{{ video }}.mp4" type="video/mp4">
        </video>
    </div>
    <script>
        //document.getElementById('video').play();
    </script>
</body>