@import 'main';

.link-about-me{
    background-color: $color-style-2;
}

main{
    width: 100vw;
    height: calc(100vh - 150px);
    @include center;
    h1{
        font-size: 32px;
        font-weight: $text-regular;
        text-align: center;
    }
}