@import 'main';

@font-face {
    font-family: 'Press Start 2P';
    src: url(/assets/fonts/PressStart2P/PressStart2P-Regular.ttf);
    font-display: swap;
}

.header-desktop .link-home{
    background-color: $color-style-2;
}

.header-mobile .link-home{
    background-color: $color-text-1;
    color: $color-background;
    margin-right: .5rem;
}

canvas { 
    display: block;
}

.title-alternative{
    font-weight: $text-regular;
    font-family: 'ClashGrotesk', sans-serif;
}

//HERO

main{
    @include section-pad;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: calc($section-margin*.5);
}

.hero-text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    h1{
        font-weight: $text-medium;
        font-family: 'ClashGrotesk', sans-serif;
        font-size: clamp($text-title-xl, 7.5vw, $text-title-xxl);
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        line-height: 85%; 
        :first-child{
            span{
                color: $color-text-1;
            }
        }
        :last-child{
            color: $color-style-1;
            /*@include hover{
                &:hover{
                    color: $color-background;
                    -webkit-text-stroke: 1px $color-style-2;
                }
            }*/
            span{
                display: none;
                background: linear-gradient(90deg, #FFFFFF 0%, #FFE13B 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }
    p{
        font-size: $text-paragraph-lg;
        max-width: 52rem;
        margin-top: 1.5rem;
    }
    .hero-socials{
        @include center;
        gap: 1.5rem;
        margin-top: 3rem;
        img{
            width: 25px;
            height: 25px;
            transition: transform 200ms ease;
            @include hover{
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
    .hero-bg{
        width: clamp(900px, 63.5vw, 1200px);
        height: clamp(190px, 13.3vw, 255px);
        background-image: url(/assets/img/index/hero-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: calc(50% - (clamp(900px, 63.5vw, 1200px)/2));
        top: clamp(150px, 8.85vw, 170px);
        z-index: -1;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    main{
        margin-top: clamp(2rem, 6vw, 4rem);
        height: calc(100vh - $section-margin);
        justify-content: flex-end;
        padding-bottom: 4rem;
        min-height: 500px;
    }
    .hero-text-container{
        align-items: flex-start;
        h1{
            font-size: clamp($text-title-lg, 9.3vw, $text-title-xl);
            text-align: left;
        }
        p{
            font-size: clamp($text-paragraph-sm, 1.75vw, $text-paragraph-md);
            max-width: clamp(400px, 68.75vw, 44rem);
            margin-top: .5rem;
            text-align: left;
        }
        .hero-socials{
            gap: 1rem;
            margin-top: 1.5rem;
            img{
                width: 20px;
                height: 20px;
            }
        }
        .hero-bg{
            display: none;
            background-image: none;
        }
    }
    .hero-mobile-background{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: top right;
        top: 0;
        left: 0;
        z-index: -1;
        .gradient{
            background-color: $color-background;
            opacity: .8;
            @include full-absolute;
        }
        :last-child{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, $color-background 75%);
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-sm){
    .hero-text-container{
        h1{
            font-size: clamp($text-title-lg, 12.48vw, $text-title-xl);
            :first-child{
                span{
                    display: none;
                }
            }
            :last-child{
                span{
                    display: inline;
                }
            }
        }
        p{
            margin-top: 1.5rem;
        }
    }
}

@media screen and (max-width: $breakpoint-mobile){
    .hero-text-container{
        h1{
            font-size: clamp($text-title-md, 14.5vw, $text-title-lg);
        }
    }
}

@media screen and (max-width: $breakpoint-responsive){
    .hero-mobile-background{
        width: 320px;
    }
}

//PANORAMIC

.panoramic-container{
    width: 90vw;
    height: 95vh;
    max-width: 1920px;
    max-height: 1080px;
    min-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: $section-margin;
    margin-bottom: calc(.5*$section-margin);
    background-color: $color-background;
    border: 2px solid $color-style-2;
    border-radius: 20px;
    overflow: hidden;
    .hero-mobile-header{
        display: flex;
        align-items: center;
        width: 100%;
        height: clamp(26px, 2.6vw, 50px);
        border-bottom: 2px solid $color-style-2;
        z-index: 2;
        background-color: $color-background;
        .hero-mobile-menu-bar{
            padding: 0 clamp(12px, 1.25vw, 24px);
            border-right: 2px solid $color-style-2;
            display: flex;
            align-items: center;
            gap: .5rem;
            height: 100%;
            .circle{
                width: clamp(8px, .8vw, 15px);
                height: clamp(8px, .8vw, 15px);
                background-color: $color-style-3;
                border-radius: 50%;
            }
        }
        .hero-mobile-navbar{
            display: flex;
            align-items: center;
            padding: 0 clamp(12px, 1.25vw, 24px);
            gap: clamp(15px, .8vw, 8px);
            p{
                font-size: clamp(6px, .55vw, 11px);
                font-weight: $text-medium;
                color: $color-text-1;
                text-transform: uppercase;
            }
            span{
                font-size: clamp(10px, 1vw, 19px);
            }
        }
    }
    .panoramic{
        width: 100%;
        height: 100%;
        z-index: 2;
        position: relative;
        @include center;
        background: radial-gradient(50% 50% at 50% 50%, rgba(10, 10, 10, 0.2) 0%, rgba(10, 10, 10, 0.8) 100%);
        cursor: move;
        .hud-border-ext{
            width: 5vw;
            height: 5vw;
            position: absolute;
            mix-blend-mode: difference;
        }
        .hud-border-inn{
            width: 2.5vw;
            height: 2.5vw;
            position: absolute;
            mix-blend-mode: difference;
        }
        .scope-1{
            position: absolute;
            width: 2.5vw;
            height: 2px;
            background-color: $color-style-2;
            mix-blend-mode: difference;
        }
        .scope-2{
            position: absolute;
            width: 2.5vw;
            height: 2px;
            background-color: $color-style-2;
            transform: rotate(90deg);
            mix-blend-mode: difference;
        }
        .rec-text{
            position: absolute;
            bottom: 1.5vw;
            display: flex;
            align-items: center;
            gap: .5rem;
            border-radius: 8px;
            div{
                border-radius: 50%;
                width: 1vw;
                height: 1vw;
                background-color: $color-style-2;
            }
            span{
                font-size: clamp(10px, 1vw, 19px);
                color: $color-text-2;
            }
        }
    }
    /*.panoramic-blur{        
        position: absolute;
        width: 70%;
        height: 50%;
        background-color: $color-style-1;
        opacity: .1;
        filter: blur(50px);
        border-radius: 30%;
        top: -1.5rem;
    }*/
}

$hud-ext-space: 2vw;
$hud-border: 4px solid $color-style-2;
.ext-item-1{
    top: $hud-ext-space;
    left: $hud-ext-space;
    border-left: $hud-border;
    border-top: $hud-border;
}
.ext-item-2{
    bottom: $hud-ext-space;
    left: $hud-ext-space;
    border-left: $hud-border;
    border-bottom: $hud-border;
}
.ext-item-3{
    top: $hud-ext-space;
    right: $hud-ext-space;
    border-right: $hud-border;
    border-top: $hud-border;
}
.ext-item-4{
    bottom: $hud-ext-space;
    right: $hud-ext-space;
    border-bottom: $hud-border;
    border-right: $hud-border;
}
.inn-item-1{
    margin-top: -5vw;
    margin-left: -5vw;
    border-left: $hud-border;
    border-top: $hud-border;
}
.inn-item-2{
    margin-bottom: -5vw;
    margin-left: -5vw;
    border-left: $hud-border;
    border-bottom: $hud-border;
}
.inn-item-3{
    margin-top: -5vw;
    margin-right: -5vw;
    border-right: $hud-border;
    border-top: $hud-border;
}
.inn-item-4{
    margin-bottom: -5vw;
    margin-right: -5vw;
    border-right: $hud-border;
    border-bottom: $hud-border;
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .panoramic-container{
        display: none;
        .panoramic{
            display: none;
        }
    }  
}


// ABOUT ME

.about-me{
    margin: $section-margin 0;
    @include section-pad;
}

.about-me-title{
    h2{
        font-size: $text-title-md;
        font-weight: $text-semibold;
    }
    p{
        font-size: $text-paragraph-lg;
        max-width: 540px;
        color: $color-text-2;
        margin-top: .5rem;
        a{
            @include inline-link;
        }
    }
}

.about-me-body{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-me-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 55%;
    margin-top: 3rem;
    .about-me-item{
        padding: 2rem;
        border-radius: 12px;
        background-color: $color-background;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border: 2px solid $color-style-2;
        cursor: pointer;
        :first-child{
            display: flex;
            align-items: center;
            gap: .5rem;
            h3{
                font-size: clamp($text-paragraph-sm, 1vw, $text-paragraph-md);
                font-weight: $text-medium;
                font-family: 'ClashGrotesk';
            }
            .about-me-selector{
                border: 2px solid $color-style-3;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                @include center;
                :first-child{
                    width: 12px;
                    height: 12px;
                    background-color: $color-style-2;
                    border-radius: 50%;
                }
            }
        }
        p{
            color: $color-text-2;
            font-size: clamp($text-paragraph-sm, 1vw, $text-paragraph-md);
        }
    }
    a{
        @include cta($color-style-1, $color-style-1-hover);
        margin-top: 1rem;
    }
}

.about-me-image{
    width: 45%;
    position: relative;
    align-self: stretch;
    z-index: 2;
    @include center;
    .about-me-style{
        width: 100%;
        height: 100%;
        position: absolute;
        @include center;
    }
}

#about-me-selector-1,
#about-me-selector-2,
#about-me-selector-3{
    position: relative;
    img{
        display: none; 
    }
}

.about-me-mobile{
    width: 100%;
    height: fit-content;
    display: none;
    flex-direction: column;
    border: 2px solid $color-style-2;
    border-radius: 20px;
    .about-me-mobile-header{
        display: flex;
        align-items: center;
        width: 100%;
        height: 8vw;
        border-bottom: 2px solid $color-style-2;
        z-index: 2;
        .about-me-mobile-menu-bar{
            padding: 0 2.5vw;
            border-right: 2px solid $color-style-2;
            display: flex;
            align-items: center;
            gap: .25rem;
            height: 100%;
            .circle{
                width: 2.5vw;
                height: 2.5vw;
                background-color: $color-style-3;
                border-radius: 50%;
            }
        }
        .about-me-mobile-navbar{
            display: flex;
            align-items: center;
            padding: 0 2.5vw;
            gap: 2vw;
            p{
                font-size: 1.5vw;
                font-weight: $text-medium;
                color: $color-text-1;
            }
            span{
                font-size: 1.5vw;
            }
        }
    }
    .about-me-mobile-body{
        @include center;
        padding: 5vw;
        position: relative;
        height: 80vw;
        img{
            height: 100%;
            width: auto;
        }
        .scanner{
            position: absolute;
            width: 80%;
            height: fit-content;
            z-index: 2;
            opacity: .5;
            top: 0%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

#hero-face-1{
    display: inline;
    opacity: 1;
}

#hero-face-2,
#hero-face-3{
    display: none;
    opacity: 0;
}

@media screen and (max-width: $breakpoint-laptop) {
    .about-me-body{
        gap: 4rem;
    }
    .about-me-text{
        width: 50%;
        .about-me-item{
            padding: 1.5rem;
        }
    }
    .about-me-image{
        width: 50%;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .about-me-body{
        flex-direction: column;
        gap: 4rem;
    }
    .about-me-text{
        width: 100%;
        max-width: 100%;
        .about-me-item{
            @include mobile-card-effect;
            :first-child{
                .about-me-selector{
                    display: none;
                }
            }
        }
    }
    .about-me-image{
        width: 100%;
        height: fit-content;
        .about-me-style{
            display: none;
        }
    }
    .about-me-mobile{
        display: flex;
    }
}

@media screen and (max-width: $breakpoint-responsive) {
    .about-me-mobile{
        display: none;
    }
}

// TECHNOLOGIES

@mixin tech-hover{
    transition: transform 200ms ease;
    @include hover{
        &:hover{
            transform: scale(1.2);
            img{
                opacity: 1;
            }
        }
    }
}

.technologies{
    @include section-pad;
    margin: $section-margin 0;
    @include center;
    flex-direction: column;
    gap: 2rem;
    h2{
        font-size: $text-paragraph-lg;
        font-weight: $text-regular;
        font-family: 'ClashGrotesk';
        text-align: center;
    }
    :last-child{
        @include center;
        flex-wrap: wrap;
        gap: 3rem;
        img{
            opacity: 0;
            transition: opacity 200ms ease;
        }
        div{
            width: fit-content;
            height: fit-content;
        }
        span{
            font-size: $text-title-md;
            color: $color-style-2;
        }
    }
}

.tech-elem{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include tech-hover;
}

.tech-elem-1{
    background-image: url(/assets/img/index/technologies/html.svg);
    img{
        width: 60px;
        height: 69px;
    }
}
.tech-elem-2{
    background-image: url(/assets/img/index/technologies/js.svg);
    img{
        width: 67px;
        height: 67px;
    }
}
.tech-elem-3{
    background-image: url(/assets/img/index/technologies/php.svg);
    img{
        width: 89px;
        height: 47px;
    }
}
.tech-elem-4{
    background-image: url(/assets/img/index/technologies/figma.svg);
    img{
        width: 47px;
        height: 71px;
    }
}
.tech-elem-5{
    background-image: url(/assets/img/index/technologies/nodejs.svg);
    img{
        width: 67px;
        height: 77px;
    }
}
.tech-elem-6{
    background-image: url(/assets/img/index/technologies/sass.svg);
    img{
        width: 91px;
        height: 68px;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .technologies{
        gap: 1.5rem;
        :last-child{
            gap: 2rem
        }
    }
    .tech-elem-1{
        img{
            width: 50px;
            height: 57px;
        }
    }
    .tech-elem-2{
        img{
            width: 57px;
            height: 57px;
        }
    }
    .tech-elem-3{
        img{
            width: 79px;
            height: 42px;
        }
    }
    .tech-elem-4{
        img{
            width: 37px;
            height: 56px;
        }
    }
    .tech-elem-5{
        img{
            width: 57px;
            height: 67px;
        }
    }
    .tech-elem-6{
        img{
            width: 81px;
            height: 60px;
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    .technologies{
        gap: 1.5rem;
        :last-child{
            gap: 2rem
        }
    }
    .tech-elem-1{
        img{
            width: 50px;
            height: 57px;
        }
    }
    .tech-elem-2{
        img{
            width: 57px;
            height: 57px;
        }
    }
    .tech-elem-3{
        img{
            width: 79px;
            height: 42px;
        }
    }
    .tech-elem-4{
        img{
            width: 37px;
            height: 56px;
        }
    }
    .tech-elem-5{
        img{
            width: 57px;
            height: 67px;
        }
    }
    .tech-elem-6{
        img{
            width: 81px;
            height: 60px;
        }
    }
}

@media screen and (max-width: $breakpoint-mobile){
    .technologies{
        :last-child{
            gap: 1.5rem
        }
    }
}

// METHODOLOGIES

.methodologies-title{
    h2{
        font-size: $text-title-md;
        font-weight: $text-semibold;
    }
    p{
        font-size: $text-paragraph-lg;
        max-width: 540px;
        color: $color-text-2;
        margin-top: .5rem;
        a{
            @include inline-link;
        }
    }
}

.methodologies{
    @include section-pad;
    margin: $section-margin 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    .methodologies-item{
        flex-grow: 1;
        padding: clamp(1.4rem, 1.5vw, 2rem);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        text-align: center;
        background-color: $color-background;
        position: relative;
        border: 2px solid $color-style-2;
        span{
            font-weight: $text-medium;
            font-family: 'ClashGrotesk';
            font-size: clamp($text-paragraph-sm, 1vw, $text-paragraph-md);
        }
        p{
            color: $color-text-2;
            font-size: clamp($text-paragraph-sm, 1vw, $text-paragraph-md);
        }
        .methodologies-style{
            position: absolute;
            margin: auto;
            z-index: -1;
            height: 275px;
            margin-top: -75px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.methodologies-style-1{
    width: 235px;
    background-image: url(/assets/img/index/methodologies-img-1.png);
}

.methodologies-style-2{
    width: 280px;
    background-image: url(/assets/img/index/methodologies-img-2.png);
}

.methodologies-style-3{
    width: 215px;
    background-image: url(/assets/img/index/methodologies-img-3.png);
}

#methodologies-style-2-1,
#methodologies-style-3-1,
#methodologies-style-1-2,
#methodologies-style-3-2,
#methodologies-style-1-3,
#methodologies-style-2-3{
    opacity: 0;
}

@media screen and (max-width: $breakpoint-laptop) {
    .methodologies{
        gap: 2rem;
        flex-direction: column;
        .methodologies-item{
            min-height: auto;
            width: 500px;
            @include center;
            .methodologies-style{
                display: none;
            }
            .methodologies-style-1,
            .methodologies-style-2,
            .methodologies-style-3{
                background-image: none;
            }
            #methodologies-item-1,
            #methodologies-item-3{
                margin-left: 0;
            }
        }
    }
    #methodologies-item-1{
        margin-left: -35vw;
    }
    #methodologies-item-3{
        margin-left: 35vw;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .methodologies{
        gap: 1rem;
        flex-direction: column;
        .methodologies-item{
            min-height: auto;
            width: 100%;
            @include mobile-card-effect;
            @include center;
        }
        .methodologies-style{
            display: none;
        }
        .methodologies-style-1,
        .methodologies-style-2,
        .methodologies-style-3{
            background-image: none;
        }
        #methodologies-item-1{
            margin-left: 0;
        }
        #methodologies-item-3{
            margin-left: 0;
        }
    }
}

// PROJECTS

.projects{
    @include section-pad;
    margin: $section-margin 0;
    margin-bottom: calc($section-margin*.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    .project-link{
        @include cta($color-style-1, $color-style-1-hover);
        margin-top: 3rem;
    }
}

.projects-title{
    text-align: center;
    h2{
        font-size: $text-title-md;
        font-weight: $text-semibold;
    }
    p{
        font-size: $text-paragraph-lg;
        max-width: 620px;
        color: $color-text-2;
        margin-top: .5rem;
        a{
            @include inline-link;
        }
    }
}

.projects-body{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin-top: 4rem;
    .projects-item{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 1rem;
        padding: 2rem;
        height: 45vw;
        max-height: 865px;
        background-color: $color-style-3;
        border-radius: 20px;
        background-position: bottom;
        background-size: cover;
        position: relative;
        overflow: hidden;
        border: 2px solid $color-style-2;
        transition: border 200ms ease;
        @include hover{
            &:hover{
                border: 2px solid $color-style-1;
                .project-window{
                    bottom: 0;
                }
            }
        }
        :first-child{
            padding: 1rem 1.5rem;
            border-radius: 12px;
            background-color: $color-style-2;
            z-index: 3;
            span{
                font-size: $text-paragraph-sm;
            }
        }
        .project-window{
            position: absolute;
            height: 29vw;
            width: 72vw;
            max-width: 1385px;
            max-height: 556px;
            bottom: -10%;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            transition: bottom 200ms ease;
            background-size: cover;
            background-repeat: no-repeat;
            border-left: 2px solid $color-style-2;
            border-top: 2px solid $color-style-2;
            border-right: 2px solid $color-style-2;
            background-position: top;
        }
    }
}

#project-window-1{
    left: 5%;
    background-image: url(/assets/img/index/projects/window-project-1.webp);
}

#project-window-2{
    left: 10%;
    background-image: url(/assets/img/index/projects/window-project-2.webp);
}

#project-window-3{
    left: 15%;
    background-image: url(/assets/img/index/projects/window-project-3.webp);
}

.projects-item-1{
    background-image: url(/assets/img/index/projects/window-project-1-bg.webp);
}

.projects-item-2{
    background-image: url(/assets/img/index/projects/window-project-2-bg.webp);
}

.projects-item-3{
    background-image: url(/assets/img/index/projects/window-project-3-bg.webp);
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .projects-body{
        .projects-item{
           .project-window{
            bottom: 0;
           }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    .projects-body{
        .projects-item{
            padding: 1rem;
            height: 50vw;
            align-items: flex-start;
            border-radius: 6px;
            :first-child{
                padding: .5rem 1rem;
            }
            .project-window{
                position: absolute;
                height: 29vw;
                width: 72vw;
                max-width: 1385px;
                max-height: 556px;
                bottom: -10%;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                transition: bottom 200ms ease;
                background-size: cover;
                background-repeat: no-repeat;
                border-left: 2px solid $color-style-2;
                border-top: 2px solid $color-style-2;
                border-right: 2px solid $color-style-2;
                background-position: top;
            }
        }
    }
    #project-window-1,
    #project-window-2,
    #project-window-3{
        left: calc(50% - 36vw);
    }
}

// DESIGN

.design{
    @include section-pad;
    margin: $section-margin 0;
    position: relative;
}

.design-title{
    h2{
        font-size: $text-title-md;
        font-weight: $text-semibold;
    }
    p{
        font-size: $text-paragraph-lg;
        max-width: 620px;
        color: $color-text-2;
        margin-top: .5rem;
        a{
            @include inline-link;
        }
    }
}

.design-body{
    display: flex;
    gap: 2rem;
}

.design-selection{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 2rem;
    gap: 1rem;
    .design-selector{
        padding: 1.5rem 2rem;
        border-radius: 12px;
        background-color: $color-background;
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: background-color 200ms ease;
        border: 2px solid $color-style-2;
        position: relative;
        cursor: pointer;
        .selector-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            span{
                font-size: $text-paragraph-md;
            }
            .selector-active{
                width: 25px;
                height: 25px;
                border: 2px solid $color-style-3;
                @include center;
                border-radius: 50%;
                :first-child{
                    width: 17px;
                    height: 17px;
                    background-color: $color-style-2;
                    border-radius: 50%;
                }
            }
        }
    }
}

.mobile-design-viewer{
    display: none;
    margin-top: 1.5rem;
    opacity: 0;
    :first-child{
        border-radius: 12px;
        width: 100%;
        height: 55vw;
        background-color: $color-style-2;
        background-position: top center;
        background-size: cover;
    }
}

.design-viewer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: stretch;
    background-color: $color-background;
    border: 2px solid $color-style-2;
    margin-top: 2rem;
    border-radius: 20px;
    .design-container{
        flex-grow: 1;
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        :first-child{
            opacity: 0;
            z-index: 2;
            position: absolute;
            top: -50px;
            left: -50px;
            width: calc(100% + 50px);
            height: calc(100% + 50px);
            background: repeating-linear-gradient(#111, #111 50%, #616161 50%, #616161);
            background-size: 5px 5px;
            filter: url(#noise);
            svg {
                width: 0;
                height: 0;
              }
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 15px;
            opacity: 0;
        }
    }
    .design-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem 0;
        span{
            font-size: $text-paragraph-md;
        }
        a{
            @include cta($color-style-3, $color-style-3-hover, false)
        }
    }
}

@keyframes noise {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

@media screen and (max-width: $breakpoint-laptop) {
    .design-viewer{
        width: 60%;
    }
    .design-selection{
        width: 40%;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg){
    .design-viewer{
        width: 60%;
        display: none;
    }
    .design-selection{
        width: 100%;
        .design-selector{
            @include mobile-card-effect;
            .selector-wrapper{
                .selector-active{
                    background-color: unset;
                    position: relative;
                    border: none;
                    :first-child{
                        display: none;
                    }
                    .selector-mobile-1{
                        width: 100%;
                        height: 3px;
                        background-color: $color-style-3;
                        position: absolute;
                    }
                    .selector-mobile-2{
                        width: 100%;
                        height: 3px;
                        background-color: $color-style-3;
                        transform: rotate(90deg);
                        position: absolute;
                    }
                }
            }
        }
    }
    .mobile-design-1{
        background-image: url(/assets/img/index/design/other-design-img-1.webp)
    }
    .mobile-design-2{
        background-image: url(/assets/img/index/design/other-design-img-2.webp)
    }
    .mobile-design-3{
        background-image: url(/assets/img/index/design/other-design-img-3.webp)
    }
    .mobile-design-4{
        background-image: url(/assets/img/index/design/other-design-img-4.webp)
    }
    .mobile-design-5{
        background-image: url(/assets/img/index/design/other-design-img-5.webp)
    }
    .mobile-design-6{
        background-image: url(/assets/img/index/design/other-design-img-6.webp)
    }
    .mobile-design-7{
        background-image: url(/assets/img/index/design/other-design-img-7.webp)
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    .design-selection{
        .design-selector{
            padding: 1rem;
            .selector-wrapper{
                .selector-active{
                    width: 20px;
                    height: 20px;
                    border: none;
                }
                span{
                    font-size: $text-paragraph-sm;
                }
            }
        }
    }
    .mobile-design-viewer{
        margin-top: 1rem;
    }
}

//SPACE INVADERS 

.game-section{
    @include section-pad;
    margin: $section-margin 0;
}

$block-border: 2px solid $color-style-2; 
.os-game-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 43vw;
    max-height: 830px;
    background-color: $color-background;
    border-radius: 20px;
    border: $block-border;
    color: $color-text-2;
    position: relative;
    overflow: hidden;
  /*transition: transform 200ms ease;
    @include hover{
        &:hover{
            transform: scale(1.03);
        }
    }*/
}

.os-game-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: clamp(26px, 2.6vw, 50px);
    border-bottom: $block-border;
    z-index: 2;
    .game-menu-bar{
        padding: 0 clamp(12px, 1.25vw, 24px);
        border-right: $block-border;
        display: flex;
        align-items: center;
        gap: .5rem;
        height: 100%;
        .circle{
            width: clamp(8px, .8vw, 15px);
            height: clamp(8px, .8vw, 15px);
            background-color: $color-style-3;
            border-radius: 50%;
        }
    }
    .game-navbar{
        display: flex;
        align-items: center;
        padding: 0 clamp(12px, 1.25vw, 24px);
        gap: clamp(15px, .8vw, 8px);
        p{
            font-size: clamp(6px, .55vw, 11px);
            font-weight: $text-medium;
            color: $color-text-1;
        }
        span{
            font-size: clamp(10px, 1vw, 19px);
        }
    }
}

.game-over{
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include center;
    .game-over-bg{
        background-color: $color-background;
        opacity: .7;
        @include full-absolute;
        z-index: 1;
    }
    span{
        font-family: 'Press Start 2P', cursive;
        font-size: $text-title-md;
        z-index: 2;
    }
}

.game-errors{
    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game-overlay{
    position: absolute;
    opacity: 0;
    display: none;
    background-image: url(/assets/img/index/os-game-bg-overlay.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    overflow: hidden;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    span{
        font-size: clamp(51px, 5vw, 96px);
        font-family: 'Press Start 2P', cursive;
        color: $color-text-2;
        margin-top: clamp(51px, 5vw, 96px);
    }
}

.os-game-body{
    position: relative;
    height: 100%;
    z-index: 2;
    display: grid;
    grid-template-columns: 26% 13% 39% 22%;
    grid-template-rows: 13% 26% 26% 15% 7% 13%;
    grid-template-areas: 
    "console game game info"
    "console game game commands"
    "console game game folders"
    "console style-1 style-3 style-4"
    "buttons style-1 style-3 style-4"
    "buttons style-2 style-3 style-4";
    .console{
        grid-area: console;
        font-size: clamp(6px, .6vw, 12px);
        padding: clamp(8px, .8vw, 15px);
        text-align: left;
        border-right: $block-border;
    }
    .game{
        grid-area: game;
        background-image: url(/assets/img/index/os-game-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom left;
        border-bottom: $block-border;
        border-right: $block-border;
        overflow: hidden;
        display: flex;
        justify-content: center;
        h2{
            font-family: 'Press Start 2P', cursive;
            margin-top: clamp(61px, 6vw, 115px);
            font-size: clamp(17px, 1.66vw, 32px);
            position: relative;
            max-width: clamp(160px, 15.6vw, 300px);
            color: $color-style-3;
            text-align: center;
            span{
                font-size: clamp(17px, 1.66vw, 32px);
                color: $color-text-2;
                position: absolute;
                top: .2rem;
                left: .2rem;
            }
        }
    }
    .info{
        grid-area: info;
        @include center;
        gap: clamp(10px, 1vw, 19px);
        border-bottom: $block-border;
        span{
            font-size: clamp(15px, 1.5vw, 29px);
        }
    }
    .commands{
        grid-area: commands;
        padding: clamp(10px, 1vw, 19px);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: $block-border;
        .command-container{
            display: flex;
            align-items: center;
            gap: clamp(10px, 1vw, 19px);
            p{
                font-size: clamp(10px, 1vw, 19px);
            }
            div{
                border-radius: 8px;
                border: 1px solid $color-style-2;
                width: clamp(20px, 2vw, 38px);
                height: clamp(20px, 2vw, 38px);
                @include center;
                span{
                    font-size: clamp(10px, 1vw, 19px);
                }
            }
        }
    }
    .folders{
        grid-area: folders;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-bottom: $block-border;
        z-index: 2;
        div{
            @include center;
            background-size: clamp(24px, 2.3vw, 44px);
            border-radius: 8px;
            transition: transform 200ms ease, background-color 200ms ease;
            border: 2px solid rgb(0, 0, 0, .0);
            @include hover{
                &:hover{
                    transform: scale(1.1);
                    border-color: $color-style-1;
                    img{
                        transform: scale(1.3);
                    }
                }
            }
            img{
                width: clamp(24px, 2.3vw, 44px);
                height: auto;
                transition: transform 200ms ease;
            }
        }
    }
    .buttons{
        grid-area: buttons;
        border-right: $block-border;
        border-top: $block-border;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        button,
        a{
            outline: none;
            border: none;
            height: fit-content;
            cursor: pointer;
            background-color: $color-style-1;
            border-radius: 8px;
            color: $color-background;
            font-family: 'Inter', sans-serif;
            font-weight: $text-semibold;
            font-size: clamp(8px, .8vw, 16px);
            padding: clamp(7px, 2.3vw, 13px);
            transition: background-color 200ms ease;
            display: flex;
            align-items: center;
            gap: .5rem;
            @include hover{
                &:hover{
                    background-color: $color-style-1-hover;
                }
            }
        }
    }
    .style-1{
        grid-area: style-1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: clamp(13px, 1.3vw, 25px);
        border-right: $block-border;
        span{
            font-size: clamp(7px, .7vw, 13px);
        }
        div{
            width: 100%;
            height: clamp(5px, .45vw, 9px);
            border-radius: 20px;
            border: 1px solid $color-style-2;
            div{
                border-radius: 20px;
                background-color: $color-style-2;
                width: 0%;
            }
        }
    }
    .style-2{
        grid-area: style-2;
        padding: clamp(13px, 1.3vw, 25px);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-right: $block-border;
        border-top: $block-border;
        div{
            height: 100%;
            width: clamp(12px, 1.2vw, 23px);
            border-radius: 8px;
            border: 1px solid $color-style-2;
        }
        :nth-child(1){
            background-color: $color-background;
        }
        :nth-child(2){
            background-color: $color-style-2;
            transition: background-color 200ms ease;
            @include hover{
                &:hover{
                    background-color: $color-style-2-hover;
                }
            }
        }
        :nth-child(3){
            background-color: $color-style-3;
            transition: background-color 200ms ease;
            @include hover{
                &:hover{
                    background-color: $color-style-3-hover;
                }
            }
        }
        :nth-child(4){
            background-color: $color-text-2;
        }
        :nth-child(5){
            background-color: $color-style-1;
            transition: background-color 200ms ease;
            @include hover{
                &:hover{
                    background-color: $color-style-1-hover;
                }
            }
        }
    }
    .style-3{
        padding: clamp(10px, 1vw, 13px) clamp(10px, 1vw, 13px) 0;
        grid-area: style-3;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        position: relative;
        border-right: $block-border;
        .s{
            height: 0%;
            flex-grow: 1;
            opacity: .2;
            background-color: $color-style-3;
            border: 1px solid $color-style-2;
        }
        span{
            position: absolute;
            top: clamp(10px, 1vw, 13px);
            left: clamp(10px, 1vw, 13px);
            background-color: $color-style-1;
            border-radius: 4px;
            padding: .2rem;
            z-index: 2;
            color: $color-background;
            font-weight: $text-medium;
        }
        .graph-grid{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            opacity: .2;
            padding: clamp(10px, 1vw, 13px);
            div{
                height: 1px;
                width: 100%;
                background-color: $color-style-2;
            }
        }
    }
    .style-4{
        grid-area: style-4;
        display: flex;
        align-items: center;
        padding: clamp(20px, 2vw, 38px);
        gap: .1rem;
        position: relative;
        .line{
            position: absolute;
            height: 2px;
            width: 90%;
            background-color: $color-style-2;
            top: calc(50% - 1px);
            left: 5%;
            z-index: -1;
        }
        .d{
            flex-grow: 1;
            height: 80%;
            border: 2px dashed $color-style-3;
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
   .game-section{
    display: none;
   }
}

.game-canvas{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    @include center;
    canvas{
        max-width: 1920px;
    }
    span{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    h2{
        font-family: 'Press Start 2P', cursive;
        font-size: clamp(17px, 1.66vw, 32px);
    }
}

// CERTIFICATION

.certification{
    margin: $section-margin 0;
    @include section-pad;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certification-title{
    text-align: center;
    h2{
        font-size: $text-title-md;
        font-weight: $text-semibold;
    }
    p{
        font-size: $text-paragraph-lg;
        max-width: 540px;
        color: $color-text-2;
        margin-top: .5rem;
        a{
            @include inline-link;
        }
    }
}

.certification-first-line{
    margin-top: 3rem;
    width: 2px;
    height: 8rem;
    background: linear-gradient(270deg, $color-background 0%, $color-style-2 100%);
}

.certification-last-line{
    margin-bottom: 3rem;
    width: 2px;
    height: 8rem;
    background: linear-gradient(-270deg, $color-background 0%, $color-style-2 100%);
}

.certification-connection{
    width: 2px;
    height: 2.5rem;
    background-color: $color-style-2;
}

.certification-item{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-background;
    border: 2px solid $color-style-2;
    width: 850px;
    border-radius: 15px;
    transition: transform 200ms ease;
    @include hover{
        &:hover{
            transform: scale(1.05);
        }
    }
    div{
        border-radius: 6px;
        background-color: $color-style-1;
        @include center;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: $breakpoint-laptop){
    .certification-first-line{
        margin-top: 2rem;
        height: 6rem;
    }
    .certification-last-line{
        margin-bottom: 2rem;
        height: 6rem;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg){
    .certification-item{
        padding: 1.5rem 2rem;
    }
    .certification-title{
        text-align: center;
        h2{
            font-size: $text-title-md;
            font-weight: $text-semibold;
        }
        p{
            font-size: $text-paragraph-lg;
            max-width: 540px;
            color: $color-text-2;
            margin-top: .5rem;
            a{
                width: 100%;
            }
        }
    }
    .certification-item,
    .certification-link{
        width: 100%;
    }
    .certification-first-line{
        height: 4rem;
    }
    .certification-last-line{
        height: 4rem;
    }
}

@media screen and (max-width: $breakpoint-mobile){
    .certification-first-line{
        margin-top: 1rem;
        height: 2rem;
    }
    .certification-last-line{
        margin-bottom: 1rem;
        height: 2rem;
    }
    .certification-item{
        padding: 1.5rem;
    }
    .certification-connection{
        width: 2px;
        height: 1.5rem;
        background-color: $color-style-2;
    }
}

// RESPONSIVE FONTS STYLE

@mixin font-template($title, $paragraph){
    h2{
        font-size: $title;
    }
    p{
        font-size: $paragraph;
        max-width: 540px;
        margin-top: .5rem;
    }
}

@mixin font-selector($text1, $text2){
    .about-me-title{
        @include font-template($text1, $text2)
    }
    .projects-title{
        @include font-template($text1, $text2)
    }
    .design-title{
        @include font-template($text1, $text2)
    }
    .certification-title{
        @include font-template($text1, $text2)
    }
}

@media screen and (max-width: $breakpoint-laptop) {
    @include font-selector($text-title-sm, $text-paragraph-md)
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    @include font-selector($text-title-xs, $text-paragraph-sm)
}

//RESPONSIVE SPACING

@mixin spacing ($section-margin){
    main{
        margin-bottom: calc($section-margin*.5);
    }
    .panoramic-container{
        margin-top: $section-margin;
        margin-bottom: calc(.5*$section-margin);
    }
    .about-me,
    .technologies,
    .methodologies,
    .projects,
    .game-section,
    .certification,
    .design{
        margin: $section-margin 0;
    }
}

@media screen and (max-width: $breakpoint-laptop) {  
    @include spacing(6rem);
}

@media screen and (max-width: $breakpoint-tablet-lg) {  
    @include spacing(5rem);
    .about-me-body{
        gap: calc(2*5rem);
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {  
    @include spacing(4rem);
    .about-me-body{
        gap: calc(2*4rem);
    }
}

@media screen and (max-width: $breakpoint-mobile) {  
    @include spacing(3rem);
    .about-me-body{
        gap: calc(2*3rem);
    }
}

@media screen and (max-width: $breakpoint-responsive) {
    .about-me-body{
        gap: 0;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    main,.panoramic-container,
    .about-me,
    .technologies,
    .methodologies,
    .projects,
    .game-section,
    .certification,
    .design{
        padding: 0;
    }
}
