@import 'main';

.link-projects{
    background-color: $color-style-2;
}

.header-mobile .link-projects{
    background-color: $color-text-1;
    color: $color-background;
    margin-right: .5rem;
}

main{
    margin: 6rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 $padding-normal;
    h1{
        font-size: $text-title-md;
        font-weight: $text-regular;
    }
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.5rem;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    max-width: 1920px;
    width: 100%;
    .projects-item{
        border-radius: 12px;
        background-color: $color-background;
        border: 2px solid $color-style-2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        transition: transform 200ms ease;
        @include hover{
            &:hover{
                transform: scale(1.05);
            }
        }
        span{
            font-size: $text-paragraph-md;
        }
        div{
            border-radius: 6px;
            @include center;
            background-color: $color-style-1;
            height: 25px;
            width: 25px;
        }
    }
}

.other-projects-container{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    h3{
        font-size: $text-paragraph-lg;
        font-weight: $text-regular;
    }
    .other-projects-item{
        padding: .5rem .8rem;
        border-radius: 8px;
        border: 2px solid $color-style-2;
        background-color: transparent;
        transition: background-color 200ms ease;
        @include hover{
            &:hover{
                background-color: $color-style-2;
            }
        }
        span{
            font-size: $text-paragraph-xs;
        }
    }
}

@media screen and (max-width: $breakpoint-laptop){
    main{
        margin: 4rem 0;
    }
    .projects-container{
        h1{
            font-size: $text-title-sm;
        }
    }
    .projects-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: $breakpoint-tablet-lg){
    .projects-grid{
        grid-template-columns: 1fr;
        span{
            font-size: $text-paragraph-sm;
        }
        .projects-item{
            padding: 1.5rem 2rem;
            @include mobile-card-effect;
        }
    }
    main{
        margin: 2rem 0;
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    .projects-grid{
        row-gap: 1rem;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .projects-container{
        h1{
            font-size: $text-title-xs;
        }
    }
}