.intro__section{
    max-width: 1920px;
    width: 100%;
    margin-top: 6rem;
    .title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .25rem;
        padding-right: $padding-normal;
        padding: 0 $padding-normal;
        h1{
            text-transform: uppercase;
            font-size: .75rem;
            color: $color-text-2;
            text-align: center;
            font-weight: 400;
            @include hover{
                &:hover{
                    color: $color-style-1;
                }
            }
        }
        span{
            text-transform: uppercase;
            font-size: .75rem;
            color: $color-text-2;
            text-align: center;
            transition: color 200ms ease;
            @include hover{
                &:hover{
                    color: $color-style-1;
                }
            }
        }
        a{
            font-size: 9.6vw;
            word-break: break-all;
            font-family: 'OffBit', sans-serif;
            line-height: 90%;
            text-align: center;
            transition: color 200ms ease;
            color: $color-text-2;
            @include hover{
                &:hover{
                    color: $color-style-1;
                }
            }
        }
        svg{
            margin-bottom: .5rem;
            margin-top: 2rem;
            path{
                fill: $color-text-2;
            }
        }
    }
    .line__start{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .start__point{
            width: 7px;
            height: 7px;
            background-color: $color-style-2;
            transform: rotate(45deg);
            margin-bottom: -4px;
        }
        .start__vertical{
            height: 100px;
            width: 1px;
            background-color: $color-style-2;
        }
        .start__horizontal{
            width: 50%;
            height: 1px;
            background-color: $color-style-2;
        }
        .vertical__hook__container{
            width: 50%;
            display: flex;
            justify-content: space-between;
            div{
                height: 100px;
                width: 1px;
                background-color: $color-style-2;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .intro__section{
        margin-top: 4.5rem;
        .title{
            a{
                font-size: 12.5vw;
            }
        }
    }       
}

@media screen and (max-width: $breakpoint-mobile) {
    .intro__section{
        margin-top: 3rem;
        .title{
            a{
                font-size: 19vw;
            }
        }
        .line__start{
            .start__vertical{
                height: 50px;
            }
            .vertical__hook__container{
                div{
                    height: 50px;
                }
            }
        }
    }       
}

@media screen and (min-width: $breakpoint-desktop) {
    .intro__section{
        .title{
            padding: unset;
            a{
                font-size: 12rem;
            }
        }
    }
}