@import 'components/_main';

body{
    overflow: hidden;
    cursor: auto;
    a{
        cursor: pointer;
    }
}

@keyframes noise {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.video-container{
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    #video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
    .overlay{
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-background;
        opacity: .6;
    }
    .noise{
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/img/projects/noise__texture.webp);
        opacity: .15;
    }
    .text{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 10;
        padding: 1rem;
        max-width: 320px;
        text-align: center;
        background: rgba(8,8,8,.5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 8px;
        .head{
            font-size: 2rem;
        }
        .par-text{
            margin-top: .5rem;
            font-size: 1.25rem;
        }
        .link{
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-top: 1.25rem;
            a{
                font-size: 1rem;
                text-decoration: underline;
                text-transform: uppercase;
                padding: .5rem .75rem;
                border-radius: 4px;
                transition: background 200ms ease;
                @include hover{
                    &:hover{
                        background-color: $color-background;
                    }
                }    
            }
        }
    }
    .info{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 10;
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        @include hover{
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.background{
    width: 100%;
    height: 100%;
    opacity: .7;
    position: absolute;
    z-index: -1;
    border-radius: 4px;
}

::-moz-selection{
    color: white;
    background:black;
}

::selection{
    color: white;
    background: black;
}