@import 'components/_main';

body{
    background-image: none;
}

main{
    margin: 3rem 0;
    padding: 0 $padding-normal;
    display: flex;
    max-width: 1920px;
    width: 100%;
    position: relative;
    gap: 6rem;
    a{
        text-decoration: underline;
        color: $color-style-1;
    }
    .divisor{
        width: 100%;
        height: 0;
        border-top: 1px solid $color-style-2;
    }
}

.info-title{
    width: 30%;
    height: fit-content;
    position: sticky;
    top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h1{
        font-size: clamp($text-title-sm, 3.75vw, $text-title-lg);
        font-weight: bold;
        line-height: 100%;
        text-align: right;
        font-family: 'OffBit', sans-serif;
    }
}

.info-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2{
        font-weight: bold;
        font-family: 'OffBit', sans-serif;
        font-size: $text-paragraph-md;
        text-transform: uppercase;
    }
    p, li{
        margin-top: 1em;
        color: #d4d4d4;
        line-height: 140%;
        font-size: $text-paragraph-md;
        list-style-type: ' ➝ ';
    }
}

.language{
    width: 100%;
    border: 1px solid $color-style-2;
    padding: .5rem .75rem .25rem;
    border-radius: 8px;
    display: flex;
    gap: .5rem;
    p{
        margin-top: -1px;
        text-transform: uppercase;
        font-size: .875rem;
    }
    svg{
        border-radius: 50%;
    }
}

body{
    list-style-position: inside;
}

@media screen and (max-width: $breakpoint-laptop){
    .info-container{
        p, li{
            font-size: $text-paragraph-sm;
        }
    }
    main{
        gap: 3rem;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    main{
        flex-direction: column;
    }
    .info-container,
    .info-title{
        width: 100%;
        align-items: flex-start;
    }
    .info-title{
        position: unset;
        h1{
            text-align: left;
        }
    }
}