---
import Base from "../layouts/Base.astro";
---

<Base title="Informativa Privacy & Cookie" description="Informativa Privacy & Cookie" noIndex={true}>

    <main class="flex justify-center w-full relative gap-24 z-20 mt-40 max-w-[1920px] min-4xl:px-12 px-normal max-md:mt-28 max-sm:mt-20">
        <div class="w-full max-w-[1280px] flex flex-col gap-6 py-8 rounded-3xl max-lg:w-full">
            <div class="flex flex-col gap-2">
                <h2 class="uppercase flex items-center gap-2 font-medium max-md:flex-col max-md:items-start">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 10.875C8.69243 10.875 10.875 8.69243 10.875 6C10.875 3.30761 8.69243 1.125 6 1.125C3.30761 1.125 1.125 3.30761 1.125 6C1.125 8.69243 3.30761 10.875 6 10.875ZM6 12C9.31373 12 12 9.31373 12 6C12 2.68629 9.31373 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31373 2.68629 12 6 12ZM4.6875 5.25H5.25H5.81249C6.2267 5.25 6.56249 5.58579 6.56249 6V8.625V9.1875H5.43749V8.625V6.375H5.25H4.6875V5.25ZM6 4.5C6.41422 4.5 6.75 4.16421 6.75 3.75C6.75 3.33579 6.41422 3 6 3C5.58579 3 5.25 3.33579 5.25 3.75C5.25 4.16421 5.58579 4.5 6 4.5Z" fill="currentColor"/>
                    </svg>
                    Informazioni relative all'informativa sulla privacy del sito
                </h2>
                <p class="text-white/80"> 
                    In questa sezione sono contenute le informazioni relative alle modalità 
                    di gestione del sito 
                    <a href="https://diegomantegazza.me">https://diegomantegazza.me</a> 
                    in riferimento al trattamento dei dati degli utenti. La presente informativa ha valore 
                    anche ai fini dell’art. 
                    13 del D.lgs. n. 196/2003, Codice in materia di protezione dei dati personali, e 
                    ai fini dell’art. 13 del Regolamento UE n. 2016/679, relativo alla protezione delle 
                    persone fisiche con riguardo al trattamento dei dati personali nonché alla libera 
                    circolazione di tali dati, per i soggetti che interagiscono con il sito ed è 
                    raggiungibile all’indirizzo 
                    <a href="https://diegomantegazza.me/privacy/">https://diegomantegazza.me/privacy/</a>. 
                    L’informativa è reale solo per il presente sito e non anche per altri siti web 
                    eventualmente consultati dall’utente tramite link in esso contenuti.
                </p>
                <p class="text-white/80"> 
                    Scopo del presente documento 
                    è fornire indicazioni circa le modalità, i tempi e la natura delle informazioni che i titolari 
                    del trattamento devono fornire agli utenti al momento della connessione alla pagina web, 
                    indipendentemente degli scopi del collegamento stesso, secondo la legislazione Italiana ed Europea.
                </p>
                <p class="text-white/80">
                    L’informativa può subire modifiche a causa dell’introduzione di nuove norme al riguardo, si invita, 
                    pertanto, l’utente a controllare periodicamente la presente pagina. L'ultimo aggiornamento 
                    risale al 30/06/2025. 
                </p>
            </div>  
            <div class="flex flex-col gap-2">
                <h2 class="uppercase flex items-center gap-2 font-medium max-md:flex-col max-md:items-start">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 10.875C8.69243 10.875 10.875 8.69243 10.875 6C10.875 3.30761 8.69243 1.125 6 1.125C3.30761 1.125 1.125 3.30761 1.125 6C1.125 8.69243 3.30761 10.875 6 10.875ZM6 12C9.31373 12 12 9.31373 12 6C12 2.68629 9.31373 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31373 2.68629 12 6 12ZM4.6875 5.25H5.25H5.81249C6.2267 5.25 6.56249 5.58579 6.56249 6V8.625V9.1875H5.43749V8.625V6.375H5.25H4.6875V5.25ZM6 4.5C6.41422 4.5 6.75 4.16421 6.75 3.75C6.75 3.33579 6.41422 3 6 3C5.58579 3 5.25 3.33579 5.25 3.75C5.25 4.16421 5.58579 4.5 6 4.5Z" fill="currentColor"/>
                    </svg>
                    Titolare e responsabile del trattamento dati
                </h2>
                <p class="text-white/80">
                    Il titolare del trattamento è la persona fisica o giuridica, l’autorità pubblica, il servizio o 
                    altro organismo che, singolarmente o insieme ad altri, determina le finalità e i mezzi del trattamento 
                    di dati personali. Si occupa anche dei profili sulla sicurezza. Relativamente al presente sito web il 
                    titolare del trattamento è rappresentato da Diego Mantegazza. Per ogni chiarimento 
                    o esercizio dei diritti dell’utente è possibile contattare il seguente indirizzo email: 
                    <a href="mailto:hello@diegomantegazza.me">hello@diegomantegazza.me</a>.
                </p>
                <p class="text-white/80">
                    Il responsabile del trattamento è la persona fisica o giuridica, l’autorità pubblica, il servizio o 
                    altro organismo che tratta dati personali per conto del titolare del trattamento. Ai sensi dell’articolo 
                    28 del Regolamento UE n. 2016/679, su nomina del titolare dei dati, il responsabile del trattamento dei 
                    dati del sito è Diego Mantegazza.
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="uppercase flex items-center gap-2 font-medium max-md:flex-col max-md:items-start">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 10.875C8.69243 10.875 10.875 8.69243 10.875 6C10.875 3.30761 8.69243 1.125 6 1.125C3.30761 1.125 1.125 3.30761 1.125 6C1.125 8.69243 3.30761 10.875 6 10.875ZM6 12C9.31373 12 12 9.31373 12 6C12 2.68629 9.31373 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31373 2.68629 12 6 12ZM4.6875 5.25H5.25H5.81249C6.2267 5.25 6.56249 5.58579 6.56249 6V8.625V9.1875H5.43749V8.625V6.375H5.25H4.6875V5.25ZM6 4.5C6.41422 4.5 6.75 4.16421 6.75 3.75C6.75 3.33579 6.41422 3 6 3C5.58579 3 5.25 3.33579 5.25 3.75C5.25 4.16421 5.58579 4.5 6 4.5Z" fill="currentColor"/>
                    </svg>
                    Cookies
                </h2>
                <p class="text-white/80">
                    Questo sito web non utilizza cookie di terze parti o di profilazione. È invece previsto l'utilizzo di cookie tecnici, ovvero cookie che consentono il corretto funzionamento della pagina senza collezionare nessun tipo di dato personale. In particolare il sito utilizza i seguenti cookie tecnici: 
                    <ul class="mt-4 list-decimal list-inside">
                        <li>
                            'privacyChoice': permette di memorizzare la scelta dell'utente riguardo al banner grafico relativo al messaggio di informativa privacy e cookie. Quando l'utente preme il pulsante per chiudere il banner ('Accetto' o 'X'), alla visite successive il banner non verrà visualizzato. 
                        </li>
                    </ul>
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="uppercase flex items-center gap-2 font-medium max-md:flex-col max-md:items-start">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 10.875C8.69243 10.875 10.875 8.69243 10.875 6C10.875 3.30761 8.69243 1.125 6 1.125C3.30761 1.125 1.125 3.30761 1.125 6C1.125 8.69243 3.30761 10.875 6 10.875ZM6 12C9.31373 12 12 9.31373 12 6C12 2.68629 9.31373 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31373 2.68629 12 6 12ZM4.6875 5.25H5.25H5.81249C6.2267 5.25 6.56249 5.58579 6.56249 6V8.625V9.1875H5.43749V8.625V6.375H5.25H4.6875V5.25ZM6 4.5C6.41422 4.5 6.75 4.16421 6.75 3.75C6.75 3.33579 6.41422 3 6 3C5.58579 3 5.25 3.33579 5.25 3.75C5.25 4.16421 5.58579 4.5 6 4.5Z" fill="currentColor"/>
                    </svg>
                    Modalità di trattamento dei dati
                </h2>
                <p class="text-white/80">
                    Il presente sito, previo consenso da parte dell'utente, raccoglie tramite apposita form di contatto (reperibile in tutto il sito web <a href="/">diegomantegazza.me</a> cliccando sugli appositi pulsanti) 
                    alcuni dati personali inseriti dall'utente stesso. Tali dati identificativi sono 
                    <span class="text-green">Nome / Nome Azienda</span> e
                    <span class="text-green">Email</span>.
                    Questi dati si intendono volontariamente forniti dall’utente al momento della richiesta di erogazione del servizio. Spuntando l'apposita casella di controllo posizionata nella parte 
                    inferiore della form di contatto l’utente accetta espressamente la presente informativa e, in particolare, acconsente che i contenuti inseriti siano liberamente diffusi anche a terzi 
                    nell’ambito dell’Unione Europea o in Paesi extra UE, regolarmente contrattualizzati e che offrono adeguate garanzie di sicurezza. Esempi pratici di terzi possono essere partner lavorativi 
                    necessari al conseguimento della richiesta. I dati ricevuti verranno utilizzati esclusivamente per l’erogazione del servizio richiesto e per il solo tempo necessario per la fornitura del servizio.
                    Le informazioni che gli utenti del sito riterranno di rendere pubbliche tramite i servizi e gli strumenti messi a disposizione degli stessi, sono fornite dall’utente consapevolmente e volontariamente, 
                    esentando il presente sito da qualsiasi responsabilità in merito ad eventuali violazioni delle leggi. Spetta all’utente verificare di avere i permessi per l’immissione di dati personali di terzi o di 
                    contenuti tutelati dalle norme nazionali ed internazionali. I dati raccolti dal sito durante il suo funzionamento sono utilizzati esclusivamente per le finalità sopra indicate e conservati per il 
                    tempo strettamente necessario a svolgere le attività precisate e, comunque, non oltre 2 anni. Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine del 
                    sito predisposte per particolari servizi a richiesta.
                </p>
                <p class="text-white/80">
                    Ai fini di sicurezza (filtri anti-spam, firewall, rilevazione virus) i dati registrati automaticamente dal provider web possono eventualmente comprendere 
                    anche dati personali come l’indirizzo IP, che potrebbe essere utilizzato, conformemente alle leggi vigenti in materia, a fine di bloccare tentativi di 
                    danneggiamento al sito medesimo o di recare danno ad altri utenti o attività dannose o costituenti reato. Tali dati non sono mai utilizzati per 
                    l’identificazione o la profilazione dell’utente, ma solo ai fini di tutela del sito e dei suoi utenti, tali informazioni saranno usate in base ai 
                    legittimi interessi del titolare. I dati utilizzati ai fini di sicurezza (blocco tentativi di danneggiamento del sito) sono conservati per il tempo 
                    strettamente necessario al raggiungimento del fine anteriormente indicato.
                </p>
                <p class="text-white/80">
                    L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell’indirizzo 
                    del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva.
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="uppercase flex items-center gap-2 font-medium max-md:flex-col max-md:items-start">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 10.875C8.69243 10.875 10.875 8.69243 10.875 6C10.875 3.30761 8.69243 1.125 6 1.125C3.30761 1.125 1.125 3.30761 1.125 6C1.125 8.69243 3.30761 10.875 6 10.875ZM6 12C9.31373 12 12 9.31373 12 6C12 2.68629 9.31373 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31373 2.68629 12 6 12ZM4.6875 5.25H5.25H5.81249C6.2267 5.25 6.56249 5.58579 6.56249 6V8.625V9.1875H5.43749V8.625V6.375H5.25H4.6875V5.25ZM6 4.5C6.41422 4.5 6.75 4.16421 6.75 3.75C6.75 3.33579 6.41422 3 6 3C5.58579 3 5.25 3.33579 5.25 3.75C5.25 4.16421 5.58579 4.5 6 4.5Z" fill="currentColor"/>
                    </svg>
                    Diritti dell'utente
                </h2>
                <p class="text-white/80">
                    Il presente sito intende informare l’utente sull’esistenza dei diritti elencati nell’art. 13 co. 2 del 
                    Regolamento UE del 2016/679. In particolare 
                    <ul class="mt-4 list-decimal list-inside">
                        <li>
                            del diritto dell’interessato di chiedere al titolare l’accesso ai dati personali (art. 15 
                            Regolamento UE), il loro aggiornamento (art. 7, co. 3, lett. a del D.lgs 196/2003), la 
                            rettifica (art. 16 Regolamento UE), l’integrazione (art. 7, co. 3 lett. a D.lgs 196/2003), 
                            la limitazione del trattamento che lo riguardino (art. 18 Regolamento UE) o di opporsi, per 
                            motivi legittimi, al loro trattamento (art. 21 Regolamento UE), oltre al diritto alla portabilità 
                            dei dati (art. 20 Regolamento UE);
                        </li>
                        <li>
                            del diritto di chiedere la cancellazione (art. 17 Regolamento UE), la trasformazione in forma 
                            anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è 
                            necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o 
                            successivamente trattati (art. 7 co. 3, lett. b del D.lgs. 196/2003);
                        </li>
                        <li>
                            del diritto di ottenere l’attestazione che le operazioni di aggiornamento, rettificazione, 
                            integrazione dei dati, cancellazione, blocco dei dati, trasformazione, sono state portate a 
                            conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati 
                            comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta 
                            un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato (art. 7 co. 3, 
                            lett. c del D.lgs 196/2003).
                        </li>
                    </ul>
                </p>
                <p class="text-white/80">
                    Le richieste possono essere indirizzate al titolare del trattamento tramite l'indirizzo mail 
                    <a href="mailto:hello@diegomantegazza.me">hello@diegomantegazza.me</a>
                    (senza formalità) oppure utilizzando il modello previsto dal 
                    <a href="https://www.garanteprivacy.it/home">GPDP</a> (Garante per la Protezione dei Dati Personali).
                </p>
                <p class="text-white/80">
                    Qualora il trattamento sia basato sull’art. 6 par. 1 lettera A (consenso espresso all’utilizzo) 
                    oppure sull’art. 9 par. 2 lettera A (consenso espresso all’utilizzo di dati genetici, biometrici, 
                    relativi alla salute, che rivelino convinzioni religiose, filosofiche o appartenenza sindacale, che 
                    rivelino l’origine razziale o etnica, le opinioni politiche) l’utente ha il diritto di revocare il 
                    consenso in qualsiasi momento senza pregiudicare la liceità del trattamento basata sul consenso 
                    prestato prima della revoca
                </p>
                <p class="text-white/80">
                    Parimenti, in caso di violazione della normativa, l’utente ha il diritto di proporre reclamo 
                    presso il Garante per la Protezione dei Dati Personali, quale autorità preposta al controllo sul 
                    trattamento nello Stato italiano.
                </p>
                <p class="text-white/80">
                    Per una disamina più approfondita dei diritti che Le competono, si vedano gli artt. 15 e ss. Del 
                    Regolamento UE 2016/679 e l’art. 7 del D.lgs. 196/2003.
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <h2 class="uppercase flex items-center gap-2 font-medium max-md:flex-col max-md:items-start">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6 10.875C8.69243 10.875 10.875 8.69243 10.875 6C10.875 3.30761 8.69243 1.125 6 1.125C3.30761 1.125 1.125 3.30761 1.125 6C1.125 8.69243 3.30761 10.875 6 10.875ZM6 12C9.31373 12 12 9.31373 12 6C12 2.68629 9.31373 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31373 2.68629 12 6 12ZM4.6875 5.25H5.25H5.81249C6.2267 5.25 6.56249 5.58579 6.56249 6V8.625V9.1875H5.43749V8.625V6.375H5.25H4.6875V5.25ZM6 4.5C6.41422 4.5 6.75 4.16421 6.75 3.75C6.75 3.33579 6.41422 3 6 3C5.58579 3 5.25 3.33579 5.25 3.75C5.25 4.16421 5.58579 4.5 6 4.5Z" fill="currentColor"/>
                    </svg>
                    Sicurezza dei dati forniti
                </h2>
                <p class="text-white/80">
                    Il presente sito tratta i dati degli utenti in maniera lecita e corretta, adottando le opportune 
                    misure di sicurezza volte ad impedire accessi non autorizzati, divulgazione, modifica o distruzione 
                    non autorizzata dei dati. Il trattamento viene effettuato mediante strumenti informatici e/o telematici, 
                    con modalità organizzative e con logiche strettamente correlate alle finalità indicate.
                </p>
                <p class="text-white/80">
                    Oltre al titolare, in alcuni casi, potrebbero avere accesso ai dati categorie di incaricati coinvolti 
                    nell’organizzazione del sito (personale amministrativo, marketing, commerciale, legali, amministratori 
                    di sistema) ovvero soggetti esterni come (come fornitori di servizi tecnici terzi, corrieri postali, 
                    hosting provider, società informatiche, agenzie di comunicazione).
                </p>
            </div>
        </div>
    </main>
</Base>

<style>
    a{
        text-decoration: underline;
        color: var(--color-green);
    }
</style>

<script>
    import { gsap } from "gsap/gsap-core";
    import { TextPlugin } from "gsap/all";
    gsap.registerPlugin(TextPlugin);

    window.addEventListener("load", () => {
        document.body.style.overflowY = 'auto'
        const loadingTl = gsap.timeline({
            ease: 'none'
        })
        loadingTl.to('#textLoading span', { text: '.', border: 'none', stagger: .05}, '-=.4')
        loadingTl.to(['#loadingBr', '#textLoading p'], {opacity: 0, display: 'none'}, '-=.10')
        loadingTl.to('#loadingContainer', {opacity: 0, display: 'none', duration: .75})
    })
</script>