.about__me{
    width: 100%;
    margin-top: 12rem;
    position: relative;
    max-width: 1920px;
    overflow: hidden;
    .title{
        padding: 0 $padding-normal 0 calc(100px + #{$padding-normal});
        max-width: 860px;
        h2{
            font-size: 4.5rem;
            font-family: 'OffBit', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            span{
                font-weight: 400;
            }
        }
        p{
            font-size: 1.125rem;
            color: $color-text-2;
            a{
                text-decoration: underline;
                font-family: 'OffBit', sans-serif;
                color: $color-style-1;
                font-weight: bold;
            }
        }
    }
}

.focus__line__1{
    top: 30%;
}

.focus__line__2{
    top: 50%;
}

.focus__line__3{
    top: 70%;
}

.about__me__container{
    padding: 0 $padding-normal 0 calc(100px + #{$padding-normal});
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 4.5rem;
    position: relative;
    height: fit-content;
    .mobile__style{
        position: absolute;
        left: $padding-normal;
        top: 0;
        width: 2px;
        height: 100%;
        background-color: $color-style-1;
        display: none;
        div{
            transform: rotate(45deg);
            position: absolute;
            width: 4px;
            height: 4px;
            left: -1px;
            background-color: $color-style-1;
            border-radius: 50%;
        }
        :first-child{
            bottom: -1px;
        }
        :last-child{
            top: -1px;
        }
    }
    .focus__line{
        position: absolute;
        left: 0;
        width: 100%;
        z-index: -1;
        border-top: 2px dashed $color-style-1;
        opacity: 0;
    }
    .item__container{
        position: relative;
        align-self: stretch;
        a{
            height: 100%;
        }
        @include hover{
            &:hover{
                .item{
                    .border{
                        background-color: $color-style-1;
                    }
                    .body{
                        border-color: $color-style-1;
                    }
                }
                svg{
                    transform: scale(1.2);
                    transform: rotate(45deg);
                }
            }
        }
        svg{
            position: absolute;
            bottom: -35px;
            right: -35px;
            transition: transform 200ms ease;
        }
        .item{
            @include tech-card;
            background-color: unset;
            z-index: 2;
            .border{
                transition: background 200ms ease;
            }
            .body{
                transition: border 200ms ease;
                padding: 1.5rem 1.5rem 1.75rem;
                height: 100%;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background: rgba(8,8,8,.5);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                h3{
                    text-transform: uppercase;
                    font-size: 1.125rem;
                    font-family: 'OffBit', sans-serif;
                }
                p{
                    color: $color-text-2;
                    font-size: 1.125rem;
                    margin-top: .5rem;
                }
            }
        }
    }
}

.about__info{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .25rem;
    padding-right: $padding-normal;
    span{
        text-transform: uppercase;
        font-size: .75rem;
        color: $color-text-2;
        transition: color 200ms ease;
        @include hover{
            &:hover{
                color: $color-style-1;
            }
        }
    }
    svg{
        margin-bottom: .5rem;
        path{
            fill: $color-text-2;
        }
    }
    .show__mobile{
        display: none;
    }
}

.border__style{
    position: absolute;
    width: 100%;
    height: 340px;
    top: -60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    z-index: -1;
    svg{
        rotate: -30deg;
        position: absolute;
        right: -70px;
    }
}

@media screen and (max-width: $breakpoint-laptop) {
    .about__me{
        margin-top: 8rem;
        .title{
            max-width: 640px;
            h2{
                font-size: 3.5rem;
            }
        }
    }
    .about__me__container{
        .item__container{
            .item{
                .body{
                    padding: 1.25rem 1rem 1.25rem;
                    h3{

                        font-size: 1rem;
                    }
                    p{
                        font-size: 1rem;
                        margin-top: .25rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1196px) {
    .focus__line__1,
    .focus__line__2,
    .focus__line__3{
        display: none;
    }
    .about__me{
        .title{
            padding: 0 $padding-normal;
        }
    }
    .about__me__container{
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
        padding: 0 $padding-normal;
        .item__container{
            .item{
                svg{
                    display: none;
                }
                .border{
                    .style{
                        display: none;
                    }
                }
                .body{
                    padding: 1.5rem 1.5rem 1.75rem;
                    h3{
                        font-size: 1.125rem;
                    }
                    p{
                        font-size: 1.125rem;
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-lg){
    .about__me{
        margin-top: 4.5rem;
    }
    .about__me__container{
        .item__container{
            .item{
                margin-left: $padding-normal;
                width: calc(100% - #{$padding-normal});
                .border{
                    .style{
                        display: none;
                    }
                }
            }
        }
        .mobile__style{
            display: unset;
        }
    }
    .about__info{
        margin-top: 2rem;
        padding: 0;
        z-index: 10;
        align-items: center;
        .hide__mobile{
            display: none;
        }
        .show__mobile{
            display: unset;
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    .border__style{
        display: none;
    }
    .about__me{
        .title{
            max-width: 500px;
            h2{
                font-size: 3rem;
            }
        }
    }
    .about__info{
        margin-top: calc(1.5rem + 2.5px);
    }
    .about__me__container{
        .item__container{
            .item{
                .border{
                    display: none;
                }
                .body{
                    padding: 1.25rem 1rem 1.25rem;
                    -webkit-backdrop-filter: blur(2px);
                    backdrop-filter: blur(2px);
                    border-radius: 4px;
                    h3{

                        font-size: 1rem;
                    }
                    p{
                        font-size: 1rem;
                        margin-top: .25rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .about__me{
        .title{
            max-width: none;
            h2{
                font-size: 10vw;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .about__me__container{
        margin-top: 1rem;
        gap: .75rem;
    }
    .about__info{
        margin-top: 1rem;
        svg{
            margin: 0;
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .border__style{
        display: none;
    }
    .focus__line__1,
    .focus__line__2,
    .focus__line__3{
        display: none;
    }
    .about__me{
        .title{
            padding: unset;
            max-width: 530px;
        }
    }
    .about__me__container{
        padding: unset;
    }
    .about__info{
        padding: unset;
    }
}
