@mixin console-link{
    font-weight: bold;
    font-family: 'OffBit', sans-serif;
    font-size: .875rem;
    padding: .675rem 1.05rem .4rem;
    color: $color-style-1;
    text-transform: uppercase;
    border: 1px solid $color-style-1;
    border-radius: 4px;
    margin-left: .6rem;
    transition: color 200ms ease,
    background-color 200ms ease;
    background: rgba(8,8,8,.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    cursor: none;
    @include hover{
        &:hover{
            background-color: $color-style-1;
            color: $color-background;
        }
    }
}

@mixin overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
    span{
        font-size: 2rem;
        font-weight: bold;
        font-family: 'OffBit', sans-serif;
    }
}

$header-height: 24px;
.console-section{
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin-top: 12rem;
    padding: 0 $padding-normal 0 calc(#{$padding-normal} + 100px);
    .container{
        width: 100%;
        height: calc(100svh - #{$padding-normal});
        max-height: 900px;
        min-height: 600px;
        border: 1px solid $color-style-1;
        position: relative;
        .nav-link{
            position: absolute;
            right: calc(52px + 2rem);
            bottom: 0;
            background-color: $color-style-1;
            padding: .2rem .4rem;
            z-index: 2;
            opacity: 0;
            display: none;
            span{
                color: $color-background;
                font-size: .75rem;
                text-transform: uppercase;
                font-weight: bold;
                text-align: right
            }
        }
        .header{
            @include header-console($header-height, 12px);
            span{
                display: flex;
                align-items: center;
                gap: .3rem;
                svg{
                  
                    width: 9px;
                    height: 9px;
                }
            }
            .style__black{
                height: 100%;
                width: calc(100% - 90px);
                background-color: $color-background;
                position: absolute;
                right: -1px;
                top: -1px;
                .triangle{
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 24px 0 0 24px;
                    border-color: transparent transparent transparent $color-style-1;
                    transform: rotate(0deg);
                }
            }
        }
    }
}

.console-body{
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100% - #{$header-height});
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-image: url(/assets/img/index/console-background.webp);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    border-top: 1px solid $color-style-1;
    .game-canvas{
        @include overlay();
        .score{
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 1rem;
        }
    }
    .game-over{
        @include overlay();
        span{
            text-transform: uppercase;
            font-size: 1.25rem;
            font-family: 'OffBit', sans-serif;
            font-weight: bold;
            z-index: 2;
        }
        div{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $color-background;
            opacity: .8;
            z-index: 1;
        }
    }
    .game-errors{
        @include overlay();
        background-color: $color-background;
        span{
            font-size: 1.25rem;
            text-transform: uppercase;
        }
    }
    .game-overlay{
        @include overlay();
        background-color: $color-background;
        flex-direction: column;
        align-items: center;
        .info{
            max-width: 300px;
            text-align: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            span{
                color: $color-style-1;
                font-size: 1.5rem;
            }
        }
    }
    .menu{
        z-index: 3;
        background-color: rgba(8,8,8,.5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        height: 100%;
        border-left: 1px solid $color-style-2;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .trigger{
            height: 50px;
            width: 50px;
            border: 1px solid $color-style-2;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .2rem;
            transition: border-color 200ms ease;
            @include hover{
                &:hover{
                    border-color: $color-style-1;
                    div{
                        background-color: $color-style-1;
                    }
                }
            }
            div{
                height: 2px;
                width: 20px;
                background-color: $color-text-2;
                transition: background-color 200ms ease;
            }
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            gap: .75rem;
            .object{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 50px;
                border: 1px solid transparent;
                transition: border-color 200ms ease;
                border-radius: 4px;
                @include hover{
                    &:hover{
                        border-color: $color-style-1;
                        .style{
                            span{
                                color: $color-style-1;
                            }
                        }
                    }
                }
                .style{
                    width: 50px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $color-style-2;
                    padding-top: .25rem;
                    border-radius: 4px;
                    span{
                        font-weight: bold;
                        font-size: 24px;
                        font-family: 'OffBit', sans-serif;
                        transition: color 200ms ease;
                    }
                }
            }
        }
    }
    .images{
        flex-grow: 1;
        height: calc(100% - #{$header-height} - 2rem);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .item{
            width: 50%;
            height: 400px;
            border: 1px solid $color-style-2;
            background-color: rgba(8,8,8,.5);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            position: absolute;
            overflow: hidden;
            .header{
                @include header-console($header-height, 10px, false);
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                filter: grayscale(1);
                @include hover{
                    &:hover{
                        filter: grayscale(0);
                    }
                }
            }
            .info{
                position: absolute;
                bottom: .5rem;
                right: .5rem;
                span{
                    font-size: .5rem;
                    text-align: right;
                    text-transform: uppercase;
                    color: $color-text-2;
                }
            }
        }
        .item-1{
            margin-left: 0;
            margin-top: 30%;
            z-index: 3;
        }
        .item-2{
            margin-left: -20%;
            margin-top: 0;
            z-index: 1;
        }
        .item-3{
            margin-left: 30%;
            margin-top: -20%;
            z-index: 2;
        }
    }
    .text{
        position: relative;
        width: 40%;
        height: calc(100% - #{$header-height} - 2rem);
        margin-left: 2rem;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: .8rem;
        border: 1px solid $color-style-2;
        background: rgba(8,8,8,.5);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        p{
            font-size: .8rem;
            color: $color-text-2;
            overflow-anchor: none;
        }
        span{
            font-size: .8rem;
            margin-bottom: 1rem;
            color: $color-text-2;
        }
        button{
            @include console-link;
            cursor: pointer;
        }
        .header{
            @include header-console(20px, 8px, false);
            justify-content: flex-end;
            opacity: 1;
        }
    }
}

.page-menu{
    z-index: 2;
    background-color: rgba(8,8,8,.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100% - #{$header-height});
    width: calc(100% - 50px - 2rem - 1px);
    overflow: hidden;
    padding: 2rem;
    display: none;
    opacity: 0;
    flex-direction: column;
    gap: 2rem;
    .item{
        display: flex;
        flex-direction: column;
        gap: .75rem;
        span{
            font-size: 1rem;
            text-transform: uppercase;
            
        }
        .group{
            display: flex;
            align-items: center;
            gap: 1rem;
            a{
                @include console-link;
                margin: 0;
            }
            button{
                @include console-link;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1640px) {
    .console-body{
        .images{
            .item{
                height: 350px;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-laptop) {
    .console-body{
        .images{
            .item{
                height: 20vw;
            }
        }
    }
    .console-section{
        padding: 0 $padding-normal 0 calc(#{$padding-normal} + 100px);
        margin-top: 8rem;
    }
}

@media screen and (max-width: 1196px) {
    .console-section{
        padding: 6rem $padding-normal 4.5rem;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .console-section{
        display: none;
    }
}


@media screen and (min-width: $breakpoint-desktop) {
    .console-section{
        padding-left: unset;
        padding-right: unset;
    }
}