main{
    min-height: calc(100svh - 124px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    overflow: hidden
}

.hero__container{
    @include section-pad;
    display: flex;
    align-items: flex-end;
    height: 100%;
    flex-grow: 1;
    position: relative;
    .show__mobile{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: .1rem;
        span{
            font-size: .75rem;
            text-align: center;
            text-transform: uppercase;
            color: $color-text-2;
            a{
                text-decoration: underline;
                color: $color-style-1;
            }
        }
        svg{
            margin-bottom: 1rem;
        }
    }
}

.hero__text{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: #{$padding-normal*.5};
    height: fit-content;
    h1{
        text-transform: uppercase;
        font-family: 'OffBit', sans-serif;
        font-size: clamp(6rem, 5.8vw, 7rem );
        line-height: 90%;
        mix-blend-mode: difference;
        z-index: 2;
        .parenthesis{
            color: $color-style-1;
            font-size: 6rem;
        }
    }
    p{
        font-size: 1.25rem;
        max-width: 640px;
        a{
            font-family: 'OffBit', sans-serif;
            color: $color-style-1;
            font-weight: bold;
            text-decoration: underline;
            z-index: 2;
        }
    }
}


.hero__style{
    position: absolute;
    $width: 85vh;
    $height: 85vh;
    width: $width;
    height: $height;
    left: calc(50vw - #{$width*.5});
    margin-left: -3.5vw;
    top: calc(50vh - #{$height*.5});
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    .three__sphere{
        width: 100%;
        height: 100%;
    }
    .console{
        width: 268px;
        position: absolute;
        border: 1px solid $color-style-2;
        overflow: hidden;
        z-index: 2;
        .header{
            @include header-console(18px, 8px, false);
            span{
                font-size: .6rem;
                margin-top: 4px;
            }
        }
        .body{
            margin-top: 18px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: rgba(8,8,8, .95);
            padding: .5rem .5rem .75rem;
            .group{
                display: flex;
                align-items: center;
                gap: .5rem;
                margin-bottom: -6px;
                a{
                    color: $color-style-1;
                    text-decoration: underline;
                }
                span{
                    margin-bottom: 4px;
                }
            }
            span{
                font-size: .75rem;
                text-transform: uppercase;
                color: $color-text-2;
                a{
                    text-decoration: underline;
                    color: $color-style-1;
                }
                .dotted{
                    text-decoration: underline dotted;
                }
            }
            .link{
                margin-top: .5rem;
            }
        }
    }
    .console__1{
        height: fit-content;
        left: 640px;
        bottom: 100px;
    }
    .console__2{
        width: 268px;
        height: fit-content;
        left: 550px;
        bottom: 0;
    }
}

@media screen and (max-height: 800px) {
    .hero__style{
        z-index:  -1;
        .console{
            display: none;
        }
    }
}

@keyframes circleBig{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

.hero__style__mobile{
    display: none;
    margin: 6rem 0 4.5rem;
    padding: 0 $padding-normal;
    .container{
        position: relative;
        .header{
            @include header-console(18px, 8px);
            span{
                display: flex;
                align-items: center;
                gap: .3rem;
                margin-top: 2px;
                svg{
                    width: 8px;
                    height: 8px;
                }
            }
            .style__black{
                height: 100%;
                width: calc(100% - 180px);
                background-color: $color-background;
                position: absolute;
                right: -1px;
                top: 0px;
                .triangle{
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 18px 0 0 18px;
                    border-color: transparent transparent transparent $color-style-1;
                    transform: rotate(0deg);
                }
            }
        }
        .body{
            border: 1px solid $color-style-1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 45vw 45vw;
            margin-top: 18px;
            .image{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                border: 1px solid $color-style-1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    //filter: grayscale(1);
                }
            }
        }
    }
}
/*
@media screen and (max-width: 1840px) {
    .hero__style{
        margin-left: 0;
    }
}

@media screen and (max-width: 1640px) {
    .hero__style{
        margin-left: 3vw;
    }
}

@media screen and (max-width: 1540px) {
    .hero__style{
        margin-left: 6.5vw;
    }
}*/

@media screen and (max-width: $breakpoint-laptop) {
    .hero__text{
        h1{
            font-size: 6rem;
            .parenthesis{
                font-size: 5rem;
            }
        }
        p{
            font-size: 1.125rem;
            max-width: 560px;
        }
    }
    .hero__style{
        $width: 85vh;
        $height: 85vh;
        width: calc(#{$width}*.5);
        right: 0;
        left: unset;
        top: calc(80vh - #{$height*.5});
        overflow: hidden;
        .three__sphere{
            position: absolute;
            width: $width;
            height: $height;
            left: 0;
        }
        .console__1{
            display: none;
        }
        .console__2{
            display: none;
        }
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .hero__container{
        margin-top: $padding-normal;
        flex-direction: column;
        align-items: center;
        .show__mobile{
            display: flex;
        }
    }
    .hero__text{
        width: fit-content;
        align-items: center;
        padding-top: calc(#{padding-normal} * .5);
        padding-bottom: 1rem;
        h1{
            text-align: center;
            font-size: 5rem;
            .parenthesis{
                font-size: 4rem;
            }
        }
        p{
            text-align: center;
            max-width: 460px;
        }
    }
    .hero__style{
        display: none;
    }
    .hero__style__mobile{
        display: grid;
    }
    main{
        height: fit-content;
        max-height: none;
        min-height: auto;
    }
}

@media screen and (max-width: $breakpoint-tablet-sm) {
    .hero__container{
        margin-top: 3rem;
        .link-container{
            margin-top: 1.5rem;
        }
    }
    .hero__text{
        text-align: center;
        h1{
            font-size: 5rem;
            .parenthesis{
                font-size: 4rem;
            }
        }
        p{
            font-size: 1.125rem;
        }
    }
    .hero__style__mobile{
        margin: 4.5rem 0 0;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    .hero__text{
        text-align: center;
        h1{
            font-size: max(15vw, 3rem);
            .parenthesis{
                font-size: max(13vw, 2rem);
            }
        }
        p{
            font-size: 1rem;
            margin-top: .5rem;
        }
    }
    .hero__style__mobile{
        margin: 3rem 0 0;
        .container{
            .header{
                span{
                    font-size: .75rem;
                    font-family: 'OffBit', sans-serif;
                    margin-top: 6px;
                    svg{
                        margin-top: -3px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .hero__style{
        display: none;
    }
    main{
        min-height: auto;
        height: fit-content;
    }
    .hero__container{
        padding: 12rem 0 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}