@keyframes stage_animation {
    0% {
    transform: translate3d(0, 0, 0);
    }
    100% {
    transform: translate3d(-50%, 0, 0);
    }
}

.mail-section{
    margin-top: 13rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .container{
        width: 100%;
        overflow: hidden;
        .mail{
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            animation: stage_animation 45s linear infinite;
            padding-top: .5rem;
            @include hover{
                &:hover{
                    p{
                        color: $color-style-1;
                    }
                }
            }
            p{
                font-family: 'OffBit', sans-serif;
                text-transform: uppercase;
                text-wrap: nowrap;
                display: inline-block;
                transition: color 200ms ease;
                font-size: 10vw;
                //font-weight: bold;
                transition: color 200ms ease;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-laptop) {
    .mail-section{
        margin-top: 9.5rem;
    }
}

@media screen and (max-width: $breakpoint-tablet-lg) {
    .mail-section{
        display: none;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .mail-section{
        display: none;
    }
}