<div class="absolute w-[4px] h-[4px] bottom-0 -right-2">
    <div class="absolute h-[4px] w-[.5px] bg-green bottom-0 right-0"></div>
    <div class="absolute w-[4px] h-[.5px] bg-green bottom-0 right-0"></div>
</div>
<div class="absolute w-[4px] h-[4px] top-0 -left-2">
    <div class="absolute h-[4px] w-[.5px] bg-green top-0 left-0"></div>
    <div class="absolute w-[4px] h-[.5px] bg-green top-0 left-0"></div>
</div>
<div class="absolute w-[4px] h-[4px] top-0 -right-2">
    <div class="absolute h-[4px] w-[.5px] bg-green top-0 right-0"></div>
    <div class="absolute w-[4px] h-[.5px] bg-green top-0 right-0"></div>
</div>
<div class="absolute w-[4px] h-[4px] bottom-0 -left-2">
    <div class="absolute h-[4px] w-[.5px] bg-green bottom-0 left-0"></div>
    <div class="absolute w-[4px] h-[.5px] bg-green bottom-0 left-0"></div>
</div>