
<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
<link rel="manifest" href="/assets/ico/site.webmanifest">
<link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#0E0E0E">
<meta name="msapplication-TileColor" content="#0E0E0E">
<meta name="theme-color" content="#0E0E0E">

<meta name="google" content="notranslate">
<meta name="author" content="Diego Mantegazza">

<meta property="og:title" content="Diego's Portfolio">
<meta property="og:url" content="https://diegomantegazza.me">
<meta property="og:type" content="website">
<meta property="og:image" content="https://diegomantegazza.me/assets/open_graph-meta.png">
<meta property="og:locale" content="en_EN">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@maekee_">
<meta name="twitter:url" content="https://diegomantegazza.me">
<meta property="twitter:domain" content="diegomantegazza.me">
<meta name="twitter:title" content="Diego's Portfolio">
<meta name="twitter:image" content="https://diegomantegazza.me/assets/twitter-meta.png">

