---
layout: base.njk
title: Informazioni Legali
css: 
    - legal-information
noindex: true
sitemap: false
priority: 0 
---

<main>
    <div class="info-title">
        <h1>INFORMATIVA PRIVACY & COOKIE</h1>
    </div>
    <div class="info-container">
        <div class="info-paragraph language">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M-0.000976562 0L0.280273 0.773438L-0.000976562 1.58203V2.39062L1.12402 4.28906L-0.000976562 6.1875V7.3125L1.12402 9L-0.000976562 10.6875V11.8125L1.12402 13.7109L-0.000976562 15.6094V18L0.772461 17.7188L1.58105 18H2.38965L4.28809 16.875L6.18652 18H7.31152L8.99902 16.875L10.6865 18H11.8115L13.71 16.875L15.6084 18H17.999L17.7178 17.2266L17.999 16.418V15.6094L16.874 13.7109L17.999 11.8125V10.6875L16.874 9L17.999 7.3125V6.1875L16.874 4.28906L17.999 2.39062V0L17.2256 0.28125L16.417 0H15.6084L13.71 1.125L11.8115 0H10.6865L8.99902 1.125L7.31152 0H6.18652L4.28809 1.125L2.38965 0H-0.000976562Z" fill="#EEEEEE"/>
                <path d="M11.8115 0V3.79688L15.6084 0H11.8115ZM17.999 2.39062L14.2021 6.1875H17.999V2.39062ZM-0.000976562 6.1875H3.7959L-0.000976562 2.39062V6.1875ZM2.38965 0L6.18652 3.79688V0H2.38965ZM6.18652 18V14.2031L2.38965 18H6.18652ZM-0.000976562 15.6094L3.7959 11.8125H-0.000976562V15.6094ZM17.999 11.8125H14.2021L17.999 15.6094V11.8125ZM15.6084 18L11.8115 14.2031V18H15.6084Z" fill="#0052B4"/>
                <path d="M-0.000976562 0V1.58203L4.60449 6.1875H6.18652V4.60547L1.58105 0.0699747L-0.000976562 0ZM7.31152 0V7.3125H-0.000976562V10.6875H7.31152V18H10.6865V10.6875H17.999V7.3125H10.6865V0H7.31152ZM16.417 0L11.8115 4.60547V6.1875H13.199L17.999 1.58203V0H16.417ZM6.18652 11.8125H4.46999L0.000195312 16.418L-0.000976562 18H1.58105L6.18652 13.3945V11.8125ZM11.8115 11.8125V13.0094L16.799 18H17.999V16.418L13.3936 11.8125H11.8115Z" fill="#D80027"/>
            </svg>
            <p>English version <a href="/privacy/">here</a>.</p>
        </div>
        <div class="info-paragraph">
            <h2>
                Informazioni relative all'informativa sulla privacy del sito
            </h2>
            <p> 
                In questa sezione sono contenute le informazioni relative alle modalità 
                di gestione del sito 
                <a href="https://diegomantegazza.me">https://diegomantegazza.me</a> 
                in riferimento al trattamento dei dati degli utenti. La presente informativa ha valore 
                anche ai fini dell’art. 
                13 del D.lgs. n. 196/2003, Codice in materia di protezione dei dati personali, e 
                ai fini dell’art. 13 del Regolamento UE n. 2016/679, relativo alla protezione delle 
                persone fisiche con riguardo al trattamento dei dati personali nonché alla libera 
                circolazione di tali dati, per i soggetti che interagiscono con il sito ed è 
                raggiungibile all’indirizzo 
                <a href="https://diegomantegazza.me/legal-information/it/">https://diegomantegazza.me/legal-information/it/</a>. 
                L’informativa è reale solo per il presente sito e non anche per altri siti web 
                eventualmente consultati dall’utente tramite link in esso contenuti.
            </p>
            <p> 
                Scopo del presente documento 
                è fornire indicazioni circa le modalità, i tempi e la natura delle informazioni che i titolari 
                del trattamento devono fornire agli utenti al momento della connessione alla pagina web, 
                indipendentemente degli scopi del collegamento stesso, secondo la legislazione Italiana ed Europea.
            </p>
            <p>
                L’informativa può subire modifiche a causa dell’introduzione di nuove norme al riguardo, si invita, 
                pertanto, l’utente a controllare periodicamente la presente pagina. L'ultimo aggiornamento 
                risale al 14 febbraio 2023. 
            </p>
        </div>  
        <div class="divisor"></div>
        <div class="info-paragraph">
            <h2>
                Titolare e responsabile del trattamento dati
            </h2>
            <p>
                Il titolare del trattamento è la persona fisica o giuridica, l’autorità pubblica, il servizio o 
                altro organismo che, singolarmente o insieme ad altri, determina le finalità e i mezzi del trattamento 
                di dati personali. Si occupa anche dei profili sulla sicurezza. Relativamente al presente sito web il 
                titolare del trattamento è rappresentato da Diego Mantegazza. Per ogni chiarimento 
                o esercizio dei diritti dell’utente è possibile contattare il seguente indirizzo email: 
                <a href="mailto:hello@diegomantegazza.me">hello@diegomantegazza.me</a>.
            </p>
            <p>
                Il responsabile del trattamento è la persona fisica o giuridica, l’autorità pubblica, il servizio o 
                altro organismo che tratta dati personali per conto del titolare del trattamento. Ai sensi dell’articolo 
                28 del Regolamento UE n. 2016/679, su nomina del titolare dei dati, il responsabile del trattamento dei 
                dati del sito è Diego Mantegazza.
            </p>
        </div>
        <div class="divisor"></div>
        <div class="info-paragraph">
            <h2>
                Cookies
            </h2>
            <p></p>
            <p>
                Questo sito web non utilizza cookie di terze parti o di profilazione, nè cookie tecnici.
            </p>
        </div>
        <div class="divisor"></div>
        <div class="info-paragraph">
            <h2>
                Modalità di trattamento dei dati
            </h2>
            <p>
                Il presente sito, previo consenso da parte dell'utente, raccoglie tramite apposita form di contatto (reperibile all'indirizzo 
                <a href="/contacts/">https://diegomantegazza.me/contacts/</a>) alcuni dati personali inseriti dall'utente stesso. I dati raccolti vengono conservati 
                fino all'erogazione del servizio richiesto e rispettando i termini previsti dalla legge in materia di conservazione dei dati. <!--Questa form di contatto fa uso di
                <a href="https://formspree.io/">Formspree</a>, un servizio conforme al GDPR, per l'elaborazione e la notifica dei dati inseriti nella form di contatto. -->
                Spuntando l'apposita casella di controllo posizionata nella parte inferiore 
                della form di contatto l’utente accetta espressamente la presente informativa. <!-- e, in particolare:
                <ul>
                    <li>
                        accetta di essere trasferito sul sito <a href="https://formspree.io">https://formspree.io</a> per l'elaborazione dei dati successivamente all'invio 
                        dei dati. Essendo  <a href="https://formspree.io">formspree.io</a>  un dominio
                        diverso da <a href="/">diegomantegazza.me</a>, esso fa riferimento a un'informativa sulla privacy differente. Pertento si invita cortesemente 
                        l'utente a prendere visione dell'informativa sulla privacy presente sul sito di <a href="https://formspree.io/security/">Formspree</a> 
                        prima di procedere con l'invio dei dati, in quanto nell'operazione potrebbero essere raccolti ulteriori dati personali.
                    </li> -->
                    <!--
                    <li>
                        accetta di essere sottoposto al servizio di sicurezza <a href="https://www.google.com/recaptcha/about/">reCAPTCHA</a> di Google. reCAPTCHA è filtro antiSPAM
                        che viene utilizzato per proteggere questo sito web da attività fraudolente e per garantire la sicurezza degli utenti durante l'interazione 
                        con il modulo online.
                        Questo servizio utilizza una tecnologia avanzata di analisi del comportamento e richiede agli utenti di completare attività specifiche, come 
                        risolvere puzzle o identificare oggetti in immagini, per dimostrare che sono esseri umani e non robot. Per garantire le funzionalità del filtro, 
                        reCAPTCHA rileva informazioni personali. reCAPTCHA viene sottoposto all'utente una volta avvenuta la connessione a <a href="https://formspree.io/">Formspree</a>, pertanto
                        la navigazione sul sito <a href="/">diegomantegazza.me</a> rimane sicura, senza raccolta di dati personali e senza l'utilizzo di cookie.
                    </li>
                    -->
                </ul>
            </p>
            <p>
                È importante sottolineare che nessun dato personale verrà raccolto senza il consenso esplicito dell'utente, garantendo così la sicurezza della navigazione sul sito
                <a href="/">diegomantegazza.me</a>. 
            </p>
            <!--
            <p>
                Ai fini di sicurezza (filtri anti-spam, firewall, rilevazione virus) i dati registrati automaticamente dal provider web possono eventualmente comprendere 
                anche dati personali come l’indirizzo IP, che potrebbe essere utilizzato, conformemente alle leggi vigenti in materia, a fine di bloccare tentativi di 
                danneggiamento al sito medesimo o di recare danno ad altri utenti o attività dannose o costituenti reato. Tali dati non sono mai utilizzati per 
                l’identificazione o la profilazione dell’utente, ma solo ai fini di tutela del sito e dei suoi utenti, tali informazioni saranno usate in base ai 
                legittimi interessi del titolare. I dati utilizzati ai fini di sicurezza (blocco tentativi di danneggiamento del sito) sono conservati per il tempo 
                strettamente necessario al raggiungimento del fine anteriormente indicato.
            </p>
            -->
            <p>
                L’invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo sito comporta la successiva acquisizione dell’indirizzo 
                del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti nella missiva.
            </p>
        </div>
        <div class="divisor"></div>
        <div class="info-paragraph">
            <h2>
                Diritti dell'utente
            </h2>
            <p>
                Il presente sito intende informare l’utente sull’esistenza dei diritti elencati nell’art. 13 co. 2 del 
                Regolamento UE del 2016/679. In particolare 
                <ul>
                    <li>
                        del diritto dell’interessato di chiedere al titolare l’accesso ai dati personali (art. 15 
                        Regolamento UE), il loro aggiornamento (art. 7, co. 3, lett. a del D.lgs 196/2003), la 
                        rettifica (art. 16 Regolamento UE), l’integrazione (art. 7, co. 3 lett. a D.lgs 196/2003), 
                        la limitazione del trattamento che lo riguardino (art. 18 Regolamento UE) o di opporsi, per 
                        motivi legittimi, al loro trattamento (art. 21 Regolamento UE), oltre al diritto alla portabilità 
                        dei dati (art. 20 Regolamento UE);
                    </li>
                    <li>
                        del diritto di chiedere la cancellazione (art. 17 Regolamento UE), la trasformazione in forma 
                        anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è 
                        necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o 
                        successivamente trattati (art. 7 co. 3, lett. b del D.lgs. 196/2003);
                    </li>
                    <li>
                        del diritto di ottenere l’attestazione che le operazioni di aggiornamento, rettificazione, 
                        integrazione dei dati, cancellazione, blocco dei dati, trasformazione, sono state portate a 
                        conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati 
                        comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta 
                        un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato (art. 7 co. 3, 
                        lett. c del D.lgs 196/2003).
                    </li>
                </ul>
            </p>
            <p>
                Le richieste possono essere indirizzate al titolare del trattamento tramite l'indirizzo mail 
                <a href="mailto:hello@diegomantegazza.me">hello@diegomantegazza.me</a>
                (senza formalità) oppure utilizzando il modello previsto dal 
                <a href="https://www.garanteprivacy.it/home">GPDP</a> (Garante per la Protezione dei Dati Personali).
            </p>
            <p>
                Qualora il trattamento sia basato sull’art. 6 par. 1 lettera A (consenso espresso all’utilizzo) 
                oppure sull’art. 9 par. 2 lettera A (consenso espresso all’utilizzo di dati genetici, biometrici, 
                relativi alla salute, che rivelino convinzioni religiose, filosofiche o appartenenza sindacale, che 
                rivelino l’origine razziale o etnica, le opinioni politiche) l’utente ha il diritto di revocare il 
                consenso in qualsiasi momento senza pregiudicare la liceità del trattamento basata sul consenso 
                prestato prima della revoca
            </p>
            <p>
                Parimenti, in caso di violazione della normativa, l’utente ha il diritto di proporre reclamo 
                presso il Garante per la Protezione dei Dati Personali, quale autorità preposta al controllo sul 
                trattamento nello Stato italiano.
            </p>
            <p>
                Per una disamina più approfondita dei diritti che Le competono, si vedano gli artt. 15 e ss. Del 
                Regolamento UE 2016/679 e l’art. 7 del D.lgs. 196/2003.
            </p>
        </div>
        <div class="divisor"></div>
        <div class="info-paragraph">
            <h2>
                Sicurezza dei dati forniti
            </h2>
            <p>
                Il presente sito tratta i dati degli utenti in maniera lecita e corretta, adottando le opportune 
                misure di sicurezza volte ad impedire accessi non autorizzati, divulgazione, modifica o distruzione 
                non autorizzata dei dati. Il trattamento viene effettuato mediante strumenti informatici e/o telematici, 
                con modalità organizzative e con logiche strettamente correlate alle finalità indicate.
            </p>
            <p>
                Oltre al titolare, in alcuni casi, potrebbero avere accesso ai dati categorie di incaricati coinvolti 
                nell’organizzazione del sito (personale amministrativo, marketing, commerciale, legali, amministratori 
                di sistema) ovvero soggetti esterni come (come fornitori di servizi tecnici terzi, corrieri postali, 
                hosting provider, società informatiche, agenzie di comunicazione).
            </p>
        </div>
    </div>
</main>