<section class="contacts">
    <div class="container">
        <div class="text">
            <h2><span>Lights out!</span> <br> You've reached the end.</h2>
            <p>Ready to take the next step? Click below to illuminate your connections and get all my contacts! </p>
            <a href="/contacts/">Contact me!</a>
        </div>
        <div class="orb"></div>
    </div>
</section>