<section class="mail-section">
    <div class="container">
        <a href="mailto:hello@diegomantegazza.me">
            <div class="mail">
                <p>Work with me! &#x261e; mailto:hello@diegomantegazza.me &#x2622;&nbsp;</p>
                <p aria-hidden="true">Work with me! &#x261e; mailto:hello@diegomantegazza.me &#x2622;&nbsp;</p>
            </div>
        </a>
    </div>
</section>