<section class="motto-section">
    <div class="container">
        <p>I believe in creating solutions that blend with your <span>identity</span>. Personalization is at the heart of my work, embracing <span>modernity</span> to transform your visions into unique and <span>authentic</span> digital experiences.</p>
        <div class="image">
            <img src="/assets/img/index/motto.webp" alt="View of some Japanese billboards next to a highway. From the anime 'Ghost In The Shell' by Mamoru Oshii." loading="lazy">
        </div>
    </div>
</section>