<section class="projects">
    <div class="title">
        <div class="style" id="scene-container-projects" aria-hidden="true">
            <div class="header">
                <span>Wireframe_explorer.exe</span>
                <div class="buttons">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="body">
                <span>file 'three.js' did not load properly, please reload the page.</span>
            </div>
        </div>
        <div class="style-text">
            <div></div>
        </div>
        <div class="text">
            <h2>
                <span class="text-1">My</span>
                <span class="text-2"><a href="/projects">Projects</a></span>
                <span class="text-3">Showcase</span>
            </h2>
        </div>
    </div>
    <div class="projects-container">
        {% for name, url in projectList.home_projects -%}
        <div class="item-container item-container-{{ loop.index }}">
            <a href="{{ url }}" target="_blank">
                <div class="item">
                    <div class="border">
                        <div class="style">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="triangle"></div>
                    </div>
                    <div class="body body-{{ loop.index }}">
                        <div class="text">
                            <span>{{ name }} &#x25b6;</span>
                        </div>
                        <div class="window window-{{ loop.index }}"></div>
                        <div class="background project-background-{{ loop.index }}"></div>
                    </div>                                                       
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="link">
        <p>Explore more <span>projects</span></p>
        <a href="/projects/">Find them out</a>
    </div>
</section>