<section class="services">
    <div class="container">
        <div class="image">
            <img src="/assets/img/index/services.webp" alt="A celestial battle unfolds on the ceiling, as angels and demons clash in a captivating painting. Oil Painting." loading="lazy">
        </div>
        <p class="text__1">
            <span>What do I do?</span>
            I conceptualize engaging digital experiences through my web design service, combining aesthetics and functionality. From concept to implementation, I transform ideas into engaging and intuitive websites that capture attention and promote your brand with style and professionalism.
        </p>
        <p class="text__2">In addition to web design, I offer advanced skills in web development and the creation of custom graphics. My approach also includes restyling, to breathe new life and modernity into existing designs. From concept to implementation, I guarantee solutions that leave a lasting impression.</p>
    </div>
</section>