---
layout: base.njk
title: Contacts
description: Reach out for collaboration opportunities, inquiries, or just to say hello. Let's stay in touch and explore new possibilities together.
css: 
    - contacts
js: 
    - ["contacts"]
noindex: false
sitemap: true
priority: .75
---

{% include 'components/contacts/intro.njk' %}
{% include 'components/contacts/main.njk' %}
{% include 'components/contacts/resume.njk' %}
{% include 'components/contacts/form.njk' %}



