---
layout: base.njk
title: Projects
description: Here some of the stuff I coded or designed for both work and non-work related projects. Let's have a look!
css: 
    - projects
js: 
    - ["projects"]
noindex: false
sitemap: true
priority: .75
---

{% include 'components/projects/projects.njk' %}
{% include 'components/projects/showcase.njk' %}
{% include 'components/projects/design.njk' %}





