<div id="heroImgSviluppo" data-sviluppo-hero class="absolute right-36 -top-16 -z-10 -rotate-6 w-[163px] overflow-hidden border border-white/60 rounded-b-md max-xl:right-12 max-md:hidden">
    <div class="h-[10px] bg-white/80 flex items-center pr-1 justify-end gap-[1px]">
        <div class="bg-main rounded-full w-[8px] h-[8px]"></div>
        <div class="bg-main rounded-full w-[8px] h-[8px]"></div>
        <div class="bg-main rounded-full w-[8px] h-[8px]"></div>
    </div>
    <div class="bg-green-dark w-full h-[16px] relative">
        <span data-sviluppo-text-1 class="text-xs font-geist-mono font-light text-green absolute">RWE9/88/6GE[-299QEE$#@</span>
    </div>
    <div class="w-full h-[16px] relative">
        <span data-sviluppo-text-2 class="text-xs font-geist-mono font-light text-green/40 absolute">£”RERWE9/88/FGE[4812%W</span>
    </div>
    <div class="bg-green-dark w-full h-[16px] relative">
        <span data-sviluppo-text-3 class="text-xs font-geist-mono font-light text-green absolute">1&ER&/(DF#@ER114R785#G</span>
    </div>
    <div class="w-full h-[16px] relative">
        <span data-sviluppo-text-4 class="text-xs font-geist-mono font-light text-green/40 absolute">996GE[Q33=00TN€1@RE$4E</span>
    </div>
    <div class="bg-green-dark w-full h-[16px] relative">
        <span data-sviluppo-text-5 class="text-xs font-geist-mono font-light text-green absolute">#+]]£77.!E9/88/6%&43XX</span>
    </div>
</div>

<script>
    import { gsap } from "gsap/gsap-core";
    import { TextPlugin } from "gsap/all";
    gsap.registerPlugin(TextPlugin)

    gsap.to('[data-sviluppo-text-1]', {
        text: 'W$R66-5TSD@#2QX1*I?!2L',
        duration: 2,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })
    gsap.to('[data-sviluppo-text-2]', {
        text: 'W$R66-5TSD@#2QX1*I?!2L',
        duration: 1.5,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })
    gsap.to('[data-sviluppo-text-3]', {
        text: 'W$R66-5TSD@#2QX1*I?!2L',
        duration: 1,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })
    gsap.to('[data-sviluppo-text-4]', {
        text: 'W$R66-5TSD@#2QX1*I?!2L',
        duration: 1.25,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })
    gsap.to('[data-sviluppo-text-5]', {
        text: 'W$R66-5TSD@#2QX1*I?!2L',
        duration: 1.75,
        yoyo: true,
        repeat: -1,
        ease: 'power1.inOut'
    })
</script>