---
import Button1 from "@components/Button1.astro";
---

<section class="w-full px-normal z-20 max-w-[1920px] min-4xl:px-12">
    <div class="w-full flex items-end justify-between max-md:flex-col max-md:items-start max-md:gap-8">
        <div class="flex flex-col gap-4 max-w-[400px] max-lg:max-w-[300px]">
            <span class="uppercase text-gray/40 font-light text-sm">[06] &nbsp;&nbsp; The way</span>
            <h2 class="text-5xl font-normal font-robit max-lg:text-4xl">Il mio <span data-metodo-title class="font-medium">metodo</span> di lavoro</h2>
        </div>
        <button data-open-contatti>
            <Button1 text="Interessato?" />
        </button>
    </div>
    <div class="w-full flex flex-col gap-8 mt-16 px-4">
        <div class="flex items-end gap-8 max-lg:flex-row-reverse">
            <span class="uppercase text-gray/40 font-light text-sm max-md:hidden">1.</span>
            <div class="bg-gradient-to-l from-gray/0 to-40% to-gray/10 grow h-[1px] mb-[4px] max-md:hidden"></div>
            <div class="flex flex-col gap-1 max-w-[525px] relative group max-md:max-w-none">
                <div class="absolute w-[10px] h-[10px] -top-2 -left-3 transition-all group-hover:-top-3 group-hover:-left-4">
                    <div class="absolute h-[10px] w bg-green top-0 left-0"></div>
                    <div class="absolute w-[10px] h bg-green top-0 left-0"></div>
                </div>
                <div class="absolute w-[10px] h-[10px] -bottom-2 -right-3 transition-all group-hover:-bottom-3 group-hover:-right-4">
                    <div class="absolute h-[10px] w bg-green bottom-0 right-0"></div>
                    <div class="absolute w-[10px] h bg-green bottom-0 right-0"></div>
                </div>
                <h3 class="font-semibold text-sm uppercase text-green">~ Collaborazione trasparente</h3>
                <p class="text-sm">Credo che la fiducia sia la base di ogni progetto di successo. Comunico in modo chiaro e trasparente durante tutto il processo di sviluppo, condividendo progressi, sfide e soluzioni. Questo approccio aiuta a mantenere tutti allineati verso un obiettivo comune.</p>
            </div>
        </div>

        <div class="flex items-end gap-8 max-md:flex-row-reverse">
            <span class="uppercase text-gray/40 font-light text-sm max-md:hidden">2.</span>
            <div class="bg-gradient-to-l from-gray/0 to-40% to-gray/10 grow h-[1px] mb-[4px] max-md:hidden"></div>
            <div class="flex flex-col gap-1 max-w-[525px] relative group max-md:max-w-none">
                <div class="absolute w-[10px] h-[10px] -top-2 -left-3 transition-all group-hover:-top-3 group-hover:-left-4">
                    <div class="absolute h-[10px] w bg-green top-0 left-0"></div>
                    <div class="absolute w-[10px] h bg-green top-0 left-0"></div>
                </div>
                <div class="absolute w-[10px] h-[10px] -bottom-2 -right-3 transition-all group-hover:-bottom-3 group-hover:-right-4">
                    <div class="absolute h-[10px] w bg-green bottom-0 right-0"></div>
                    <div class="absolute w-[10px] h bg-green bottom-0 right-0"></div>
                </div>
                <h3 class="font-semibold text-sm uppercase text-green">~ Ascoltare prima di parlare</h3>
                <p class="text-sm">Per creare soluzioni che rispondano veramente alle esigenze dei clienti, dedico del tempo all'ascolto attivo. Comprendere le idee, i valori e le aspettative mi permette di trasformare visioni in realtà digitali. Il dialogo aperto è una mia priorità.</p>
            </div>
        </div>

        <div class="flex items-end gap-8 max-lg:flex-row-reverse">
            <span class="uppercase text-gray/40 font-light text-sm max-md:hidden">3.</span>
            <div class="bg-gradient-to-l from-gray/0 to-40% to-gray/10 grow h-[1px] mb-[4px] max-md:hidden"></div>
            <div class="flex flex-col gap-1 max-w-[525px] relative group max-md:max-w-none">
                <div class="absolute w-[10px] h-[10px] -top-2 -left-3 transition-all group-hover:-top-3 group-hover:-left-4">
                    <div class="absolute h-[10px] w bg-green top-0 left-0"></div>
                    <div class="absolute w-[10px] h bg-green top-0 left-0"></div>
                </div>
                <div class="absolute w-[10px] h-[10px] -bottom-2 -right-3 transition-all group-hover:-bottom-3 group-hover:-right-4">
                    <div class="absolute h-[10px] w bg-green bottom-0 right-0"></div>
                    <div class="absolute w-[10px] h bg-green bottom-0 right-0"></div>
                </div>
                <h3 class="font-semibold text-sm uppercase text-green">~ Approccio umano</h3>
                <p class="text-sm">Lavorare insieme non deve essere solo produttivo, ma anche piacevole. Creo un ambiente di lavoro basato sul rispetto, l'empatia e la disponibilità. Credo che i migliori risultati emergano da una collaborazione  motivata e serena.</p>
            </div>
        </div>

        <div class="flex items-end gap-8">
            <span class="uppercase text-gray/40 font-light text-sm max-md:hidden">4.</span>
            <div class="bg-gradient-to-l from-gray/0 to-40% to-gray/10 grow h-[1px] mb-[4px] max-md:hidden"></div>
            <div class="flex flex-col gap-1 max-w-[525px] relative group max-md:max-w-none">
                <div class="absolute w-[10px] h-[10px] -top-2 -left-3 transition-all group-hover:-top-3 group-hover:-left-4">
                    <div class="absolute h-[10px] w bg-green top-0 left-0"></div>
                    <div class="absolute w-[10px] h bg-green top-0 left-0"></div>
                </div>
                <div class="absolute w-[10px] h-[10px] -bottom-2 -right-3 transition-all group-hover:-bottom-3 group-hover:-right-4">
                    <div class="absolute h-[10px] w bg-green bottom-0 right-0"></div>
                    <div class="absolute w-[10px] h bg-green bottom-0 right-0"></div>
                </div>
                <h3 class="font-semibold text-sm uppercase text-green">~ Risultati concreti</h3>
                <p class="text-sm">Sono orientato all'obiettivo e al raggiungimento di risultati tangibili. Grazie a una gestione attenta del tempo e delle risorse, mi impegno a consegnare progetti puntuali e di alta qualità, mantenendo sempre al centro le idee e le esigenze del cliente.</p>
            </div>
        </div>
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/all";
    import { TextPlugin } from "gsap/TextPlugin";
    gsap.registerPlugin(ScrollTrigger, TextPlugin);

    gsap.from('[data-metodo-title]', {
        text: 'tdomeo',
        scrollTrigger: {
            trigger: '[data-metodo-title]',
            start: 'bottom bottom',
            end: 'center center',
            scrub: true
        }
    })
  </script>